<%- data = widget[:chart] -%>
<div class="card--body--section card--body--section__chart">
  <div class="ct-chart_<%= index -%>"></div>
  <script>
    $(document).on("ornament:refresh", function(){
      var $element = $(".ct-chart_<%= index -%>");
      var defaultOptions = {
        fullWidth: true,
        <%- if data[:settings][:simple].eql?(true) -%>
          axisX: {
            offset: 0,
            showGrid: false,
            showLabel: false
          },
          axisY: {
            offset: 0,
            showGrid: false,
            showLabel: false,
          },
        <%- end -%>
        plugins: [
          Chartist.plugins.tooltip({
            appendToBody: true
          })
        ]
      }
      var options = _.merge(defaultOptions, <%= raw data[:chart].to_json -%>);
      var chart = new Chartist.Line($element[0], {
        labels: <%= raw data[:labels].to_json -%>,
        series: <%= raw data[:series].to_json -%>
      }, options);
      chart.on('created', function(data){
        Ornament.Cards.sizeCardForClosest($element);
      });
    });
  </script>
</div>
<div class="card--body--section card--body--section__totals card--body--section__good">
  <p>
    <big>5,000</big>
  </p>
  <p>
    Pageviews
  </p>
</div>