<%- data = widget[:chart] -%>
<div class="card--body--section card--body--section__chart">
  <div class="ct-chart_<%= index -%>"></div>
  <script>
    $(document).on("ornament:refresh", function(){
      var $element = $(".ct-chart_<%= index -%>");
      var defaultOptions = {
        fullWidth: true,
        <%- if data[:settings][:simple].eql?(true) -%>
          axisX: {
            offset: 0,
            showGrid: false,
            showLabel: false
          },
          axisY: {
            offset: 0,
            showGrid: false,
            showLabel: false,
          },
        <%- end -%>
        plugins: [
          Chartist.plugins.tooltip({
            appendToBody: true
          })
        ]
      }
      var options = _.merge(defaultOptions, <%= raw data[:chart].to_json -%>);
      <%- if data[:type].eql?("bar") -%>
        var chart = new Chartist.Bar($element[0], {
          labels: <%= raw data[:labels].to_json -%>,
          series: <%= raw data[:series].to_json -%>
        }, options);
      <%- else -%>
        var chart = new Chartist.Line($element[0], {
          labels: <%= raw data[:labels].to_json -%>,
          series: <%= raw data[:series].to_json -%>
        }, options);
      <%- end -%>
      chart.on('created', function(data){
        Ornament.C.Cards.sizeCardForClosest($element);
      });
    });
  </script>
</div>
<%- if data[:show_variances] && data[:show_variances].eql?(true) -%>
  <%- data[:series_labels].each_with_index do |series_label,index| -%>
    <%- 
      series = data[:series][index]
      past_value = series[series.length - 2]
      current_value = series[series.length - 1]
      variance = current_value - past_value
      variance_text = variance
      if variance > 0
        variance_text = "+#{variance}"
        variance_class = "card--body--section__good"
      elsif variance < 0
        variance_class = "card--body--section__bad"
      else
        variance_class = "card--body--section__neutral"
      end
    -%>
    <div class="card--body--section card--body--section__totals <%= variance_class -%>">
      <p>
        <big><%= variance_text -%></big>
      </p>
      <p>
        <%= series_label -%>
      </p>
    </div>
  <%- end -%>
<%- end -%>
