<header class="katalyst titlebar">

  <h2 class="pad-t-1">
    <%= resource.new_record? ? "Add #{resource_class.title}" : "Edit #{resource.title}" %>

    <!-- ALEX: originally had a close class which clashes with bootstrap -->

      <a href="#" class="txt-orange pull-right space-r-2">&times;</a>
  </h2>

</header>

<%= simple_form_for resource, remote: true, html: { multipart: true, class: 'form-vertical' } do |f| %>

<div class="span9">
  <div class="tabbable space-1">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#basic_settings" data-toggle="tab">Basic</a></li>
      <% if current_admin.god? %>
        <li><a href="#advanced_settings" data-toggle="tab">Advanced</a></li>
        <li><a href="#god_settings" data-toggle="tab">God</a></li>
      <% end %>
    </ul>
    <div class="tab-content">
      <div class="tab-pane active" id="basic_settings">
        <%= render "form_fields", { f: f } %>
      </div>
      <% if current_admin.god? %>
        <div class="tab-pane" id="advanced_settings">
          <%= render "advanced_form_fields", { f: f } %>
        </div>
        <div class="tab-pane" id="god_settings">
          <%= render "god_form_fields", { f: f } %>
        </div>
      <% end %>
    </div>
    <div>
    <%= content_tag :button, "Save", type: "submit", name: "commit", value: "Save" , class: "btn btn-primary" %>
    <%- unless resource.new_record? -%>
      <%= link_to "Delete", resource, confirm: "Are you sure?", method: :delete, remote: true, class: "btn"  %>
      <%- end -%>
  </div>
  </div>
  
</div>

    <div class="span5">
      <h6>Please note:</h6>
      <p>Fields marked with an asterisk are required.</p>
    </div>
  </div>

<% end %>

