<h1 class="katalyst titlebar border-3px rd-t-5px pd-lr-2 h-55px ln-h-55px tx-25px">
  <%= resource.new_record? ? "Add #{resource_class.title}" : "Edit #{resource.title}" %>
  <span class="control tx-orange flt-r">
    <a href="#" class="close">&times;</a>
  </span>
</h1>

<%= simple_form_for resource, remote: true, html: { multipart: true } do |f| %>

  <div class="bg-white br-b br-grey-c0 pd-b-1 as-clr">
    <div class="right column w-15 pd-tr-2">
      <h6 class="sp-b-5px">Please note:</h6>
      <p>Fields marked with an asterisk are required.</p>
    </div>

    <div class="flt-l pd-ltr-2 w-33 sp-r-1">

      <div class="tab-encloser">
        <ul id="setting-tabs" class="tabs">
          <li class="active"><a href="#basic_settings" data-toggle="tab">Basic</a></li>
            <li><a href="#advanced_settings" data-toggle="tab">Advanced</a></li>
            <li><a href="#god_settings" data-toggle="tab">God</a></li>
        </ul>

        <div id="setting-tab-content" class="tab-content">
          <div class="active tab-pane tx-grey-70 tx-13px ln-h-2" id="basic_settings">
            <%= render "form_fields", { f: f } %>
          </div>
            <div class="tab-pane txt-grey-70 txt-13px ln-h-2" id="advanced_settings">
              <%= render "advanced_form_fields", { f: f } %>
            </div>
            <div class="tab-pane txt-grey-70 txt-13px ln-h-2" id="god_settings">
              <%= render "god_form_fields", { f: f } %>
            </div>
        </div>

      </div>
    </div>
  </div>

  <div class="bg-grey-e0 pd-l-2 h-55px ln-h-55px rd-b-5px br-t br-grey-fc tx-11px">

    <ul class="adjusted hoverable hover-shadow solid grey rounded-5px padded-2 spaced-1 inline middle-aligned buttons pull-u-2px">
      <li class="solid orange ln-h-3 h-3 ">
        <%= content_tag :button, "Save", type: "submit", name: "commit", value: "Save" %>
      </li>
      <%- unless resource.new_record? -%>
      <li class="ln-h-3 h-3">
        <%= link_to "Delete", resource, confirm: "Are you sure?", method: :delete, remote: true %>
      </li>
      <%- end -%>
    </ul>
  </div>

<% end %>

