<%= render layout: "koi/shared/inline_lightbox", locals: { title: (resource.new_record? ? "Add #{resource_class.title}" : "Edit #{resource.title}"), no_hide: true } do -%>

  <%- # JS HTML replacement is nuking the close button -%>
  <%- unless resource.errors.blank? -%>
    <button title="Close (Esc)" type="button" class="mfp-close">×</button>
  <%- end -%>

  <%= simple_form_for resource, remote: true, html: { multipart: true } do |f| %>

    <div class="tabs" data-tabs="navitem_modal">
      <div class="tabs--links tabs--links__flush">
        <ul>
          <li>
            <a href="#tab_basic" class="tabs--link tabs--link__active" data-tab="tab_basic">Basic</a>
          </li>
          <% if current_admin.god? %>
            <li><a href="#tab_advanced" class="tabs--link" data-tab="tab_advanced">Advanced</a></li>
            <!--
              <li><a href="#tab_god" class="tabs--link" data-tab="tab_god">God</a></li>
            -->
          <% end %>
        </ul>
      </div>
    </div>

    <div class="tabs--panes tabs--panes__flush">
      <div class="tabs--pane tabs--pane__active" id="tab_basic" data-tab-for="tab_basic">
        <div class="inputs">
          <%= render "form_fields", { f: f } %>
        </div>
      </div>
      <% if current_admin.god? %>
        <div class="tabs--pane" id="tab_advanced" data-tab-for="tab_advanced">
          <%= render "advanced_form_fields", { f: f } %>
        </div>
        <div class="tabs--pane" id="tab_god" data-tab-for="tab_god">
          <%= render "god_form_fields", { f: f } %>
        </div>
      <% end %>
    </div>

    <div class="panel--padding panel--border-top">
      <p>
        <strong>Please note:</strong><br />
        Fields marked with an asterisk are required.
      </p>
    </div>

    <div class="panel--padding panel--border-top">
      <div class="button-group">
        <div>
          <%= content_tag :button, "Save", type: "submit", name: "commit", value: "Save" , class: "button__primary" %>
        </div>
        <%- unless resource.new_record? -%>
          <div>
            <%= link_to "Delete", resource, data: { confirm: "Are you sure?" }, method: :delete, remote: true, class: "button"  %>
          </div>
        <%- end -%>
      </div>
    </div>

  <% end %>
<%- end -%>