<% css ||= "unmarked-list" %>
<% root ||= false %>

<%= content_tag :ol, class: css do %>
  <%= content_tag :li, id: "nav-item-#{nav_item.id}", class: "widget nav-item pad-box-2px #{nav_item.draggable? ? "sortable-li" : ""}" do %>
    <div class="main as-clr">
      <div class="control-panel">
        <% unless root %>
          <div class="right">
            <%= link_to "Modify", [:edit, :admin, nav_item], class: "nav-item-link round-e3 inline-block ln-h-1e0 align-center bold font-helvetica-neue bg-orange bg-roll-orange color-white pad-t-e4 pad-s-half pad-b-half font-e9 uppercase" %>
            <a href="#" class="inline-block sprite sprite-sitemap sprite-sitemap-move pad-l-2 hidden-text">Move</a>
          </div>
        <% end %>
        <div class="right pad-r-half">
          <%= link_to nav_item.hidden, toggle_admin_nav_item_path(nav_item), class: "control toggle nav-item-link round-e3 inline-block ln-h-1e0 align-center bold font-helvetica-neue bg-orange bg-roll-orange color-white pad-t-e4 pad-s-half pad-b-half font-e9 uppercase" unless root %>
          <%= link_to "+ Module", new_admin_module_nav_item_path(site_parent: nav_item.id), class: "control nav-item-link round-e3 inline-block ln-h-1e0 align-center bold font-helvetica-neue bg-orange bg-roll-orange color-white pad-t-e4 pad-s-half pad-b-half font-e9 uppercase" %>
          <%= link_to "+ Alias", new_admin_alias_nav_item_path(site_parent: nav_item.id), class: "control nav-item-link round-e3 inline-block ln-h-1e0 align-center bold font-helvetica-neue bg-orange bg-roll-orange color-white pad-t-e4 pad-s-half pad-b-half font-e9 uppercase" %>
          <%= link_to "+ Folder", new_admin_folder_nav_item_path(site_parent: nav_item.id), class: "control nav-item-link round-e3 inline-block ln-h-1e0 align-center bold font-helvetica-neue bg-orange bg-roll-orange color-white pad-t-e4 pad-s-half pad-b-half font-e9 uppercase" %>
          <%= link_to "+ Page", new_admin_page_path(site_parent: nav_item.id), class: "control round-e3 inline-block ln-h-1e0 align-center bold font-helvetica-neue bg-orange bg-roll-orange color-white pad-t-e4 pad-s-half pad-b-half font-e9 uppercase" %>
        </div>
      </div>
      <span class="color-black"><%= link_to nav_item.title, nav_item.admin_url.blank? ? "#" : nav_item.admin_url, class: "inline-block sprite sprite-sitemap sprite-sitemap-#{nav_item.is_what?} pad-l-2" %></span>
    </div>
    <%= render partial: 'nav_item', collection: nav_item.children, as: :nav_item %>
  <% end %>
<% end %>

