<%# cache "nav_item/admin/#{nav_item.id}-#{nav_item.updated_at}/sitemap", expires_in: 7.days do %>

  <%
    nav_item_type = nav_item.class.name.underscore.dasherize 
    nav_item_id = nav_item.id 

    if Koi::Sitemap.toggles
      if Koi::Sitemap.default_visible.empty? 
        # show all top level nav items by default if there are no settings
        already_visible = (level < 2 ? true : false) 
      else
        # show only those specified and foce show the home folder 
        already_visible = Koi::Sitemap.default_visible.include?(nav_item.id) || nav_item.id.eql?(1)
      end
    end
  %>

  <li id="nav-item-<%= nav_item.id %>"
      class="nav-item sitemap--group application id-<%= nav_item_id %>
             <%= "sortable cursor-move" if nav_item.draggable? %>
             level-<%= level %>
             <%= 'is-hidden' if nav_item.read_attribute(:is_hidden) == true %>"
      data-type="<%= nav_item_type %>"
      data-id="<%= nav_item_id %>"
      data-left-ordinal="<%= nav_item.lft %>"
      data-right-ordinal="<%= nav_item.rgt %>"
      <%- if Koi::Sitemap.toggles -%>
        data-toggleable
      <%- end -%>
    >

    <!-- zone provides hoverable space between elements so there are no dead-spots -->
    <div class="zone">
      <div class="body round-5px <%= nav_item.is_what? %> sitemap icon">
        <div>

          <div class="information">
            <%= link_to nav_item.title, (nav_item.admin_url.blank? ? "#" : nav_item.admin_url) %>
          </div>

          <div class="controls">
            <ul class="hoverable menu ui-nestedSortable-no-nesting">
              <%= content_tag :li, link_to("Modify", [:edit, nav_item], remote: true, class: "button") unless RootNavItem === nav_item %>
              <%= content_tag :li, link_to("Module", new_module_nav_item_path(site_parent: nav_item.id), remote: true, class: "button") if current_admin.god? %>

              <li class="has-menu">
                <a href="#" class="button">Add...</a>
                <ul class="vertical solid divided hoverable light-orange menu buttons">
                  <%= content_tag :li, link_to("Module", new_module_nav_item_path(site_parent: nav_item.id), remote: true, class: "button") if current_admin.god? %>
                  <%= content_tag :li, link_to("Alias" , new_alias_nav_item_path(site_parent: nav_item.id), remote: true, class: "button") %>
                  <%= content_tag :li, link_to("Folder", new_folder_nav_item_path(site_parent: nav_item.id), remote: true, class: "button") %>
                  <%= content_tag :li, link_to("Page"  , new_page_path(site_parent: nav_item.id), class: "button") %>
                  <%= content_tag :li, link_to("Composable Page"  , new_composable_page_path(site_parent: nav_item.id), class: "button") %>
                </ul>
              </li>
              <li>
                <div class="sort sitemap icon round-r-5px pad-r-1 inline move"><a></a></div>
              </li>
            </ul>
          </div>

        </div>
      </div>
    </div>
    <% unless nav_item.children.empty? %>
      <%- if Koi::Sitemap.toggles -%>
        <div class="sitemap--toggler <%= "active" if already_visible -%>" data-toggle-anchor="toggle_<%= nav_item.id -%>"
          <%- if Koi::Sitemap.one_only && nav_item.parent -%>
            data-toggle-group="group_<%= nav_item.parent.id -%>"
          <%- end -%>
        >Toggle</div>
      <%- end -%>
      <ol class="nav-items" 
        <%- if Koi::Sitemap.toggles -%>
          data-toggle="toggle_<%= nav_item.id -%>" 
        <%- end -%>
        <%- if already_visible -%>
          data-toggle-default
        <%- end -%>
      >
        <%= render partial: 'nav_item', collection: nav_item.children, as: :nav_item, locals: { level: level + 1 } %>
      </ol>
    <% end %>
  </li>

<%# end %>
