<% nav_item_type = nav_item.class.name.underscore.dasherize %>
<% nav_item_id = nav_item.id %>

<li id="nav-item-<%= nav_item.id %>"
    class="nav-item application type-nav-item id-<%= nav_item_id %>
           <%= "sortable cursor-move" if nav_item.draggable? %>
           <%= "br-t br-grey-f4" if level < 2 %>
           float-clear sp-t-4px"
    data-type="<%= nav_item_type %>"
    data-id="<%= nav_item_id %>">

  <!-- zone provides hoverable space between elements so there are no dead-spots -->
  <div class="zone pd-t-4px">
    <div class="main rd-5px ln-h-22px h-22px pd-l-5 icon icon-sitemap icon-sitemap-<%= nav_item.is_what? %>" style="background-position:28px center !important">
      <div class="information flt-l button <%= "tx-14px tx-bold" unless nav_item.children.empty? %>">
        <%= link_to nav_item.title, nav_item.admin_url.blank? ? "#" : nav_item.admin_url %>
      </div>

      <div class="flt-r controls ln-h-22px h-22px vis-hidden">
        <ul class="padded-1 spaced-1px hoverable solid light-grey inline superfish menu buttons fonted-10px tx-uc">
          <li><%= link_to "Modify", [:edit, nav_item], class: "pop-up" %></li>
          <li class="w-7">
            <a href="#">Add...</a>
            <ul class="vertical solid divided hoverable light-orange menu buttons w-7">
              <%= content_tag :li, link_to("Module", new_module_nav_item_path(site_parent: nav_item.id), class: "pop-up") %>
              <%= content_tag :li, link_to("Alias" , new_alias_nav_item_path(site_parent: nav_item.id), class: "pop-up") %>
              <%= content_tag :li, link_to("Folder", new_folder_nav_item_path(site_parent: nav_item.id), class: "pop-up") %>
              <%= content_tag :li, link_to("Page"  , new_page_path(site_parent: nav_item.id)) %>
            </ul>
          </li>
        </ul>
        <div class="icon icon-sitemap icon-sitemap-sortable rd-r-5px pd-r-1 inline move control h-22px"><%= link_to "", "#" %></div>
      </div>

    </div>
  </div>
  <ol class="children sp-l-2">
    <%= render partial: 'nav_item', collection: nav_item.children, as: :nav_item, locals: { level: level + 1 } %>
  </ol>
</li>

