<%# cache "nav_item/admin/#{nav_item.id}-#{nav_item.updated_at}/sitemap", expires_in: 7.days do %>

  <%
    nav_item_type = nav_item.class.name.underscore.dasherize 
    nav_item_id = nav_item.id 
    nav_item_is_hidden = nav_item.read_attribute(:is_hidden) == true
    is_root_nav_item = RootNavItem === nav_item
  %>

  <li id="nav-item-<%= nav_item.id %>"
      class="nav-item sitemap--group application id-<%= nav_item_id %>
             <%= "sortable" if nav_item.draggable? %>
             level-<%= level %>
             <%= 'is-hidden' if nav_item_is_hidden %> 
             <%= " mjs-nestedSortable-expanded" if level.eql?(0) -%>"
      data-type="<%= nav_item_type %>"
      data-id="<%= nav_item_id %>"
      data-left-ordinal="<%= nav_item.lft %>"
      data-right-ordinal="<%= nav_item.rgt %>"
    >

    <!-- zone provides hoverable space between elements so there are no dead-spots -->
    <div class="zone">
      <div class="nav-item--body">

        <%- if Koi::Sitemap.toggles && !is_root_nav_item -%>
          <span title="Click to show/hide children" class="disclose" data-node-id="<%= nav_item.id -%>">
            <span class="ui-icon ui-icon-minusthick">Toggle</span>
          </span>
        <%- end -%>

        <div class="information <%= nav_item.is_what? %>">
          <%- if level.eql?(0) -%>
            Navigation Groups
          <%- else -%>

            <div class="nav-item--icon">
              <span class="<%= nav_item.is_what? %> icon" title="<%= nav_item.is_what? %>"></span>
            </div>

            <div class="nav-item--title">
              <%- if nav_item.admin_url.blank? -%>
                <%= nav_item.title -%>
              <%- else -%>
                <%= link_to nav_item.title, nav_item.admin_url %>
              <%- end -%>
            </div>

            <%- if nav_item_is_hidden -%>
              <div class="nav-item--hidden" title="This item is hidden and will not appear in navigation">
                <%= icon("hidden") -%>
              </div>
            <%- end -%>

            <%- unless nav_item.key.blank? -%>
              <div class="nav-item--key" title="<%= nav_item.key -%>">
                <%= icon("key") -%>
              </div>
            <%- end -%>

          <%- end -%>
        </div>

        <div class="controls">
          <ul class="hoverable menu ui-nestedSortable-no-nesting">

            <%- if is_root_nav_item -%>
              <li>
                <button class="button__small button__primary" data-sitemap-open-all>Open all</button>
              </li>
              <li>
                <button class="button__small button__primary" data-sitemap-close-all>Close all</button>
              </li>
            <%- end -%>

            <%= content_tag :li, link_to("Modify", [:edit, nav_item], remote: true, class: "button__small button__primary", data: { disable_with: "Loading" }) unless is_root_nav_item %>

            <li class="has-menu">
              <a href="#" class="button__small button__primary">Add...</a>
              <ul class="vertical solid divided hoverable light-orange menu buttons">
                <%= content_tag :li, link_to("Module", new_module_nav_item_path(site_parent: nav_item.id), remote: true, class: "button__primary button__full button__small", data: { disable_with: "Loading" }) if current_admin.god? %>
                <%= content_tag :li, link_to("Alias" , new_alias_nav_item_path(site_parent: nav_item.id), remote: true, class: "button__primary button__full button__small", data: { disable_with: "Loading" }) %>
                <%= content_tag :li, link_to("Folder", new_folder_nav_item_path(site_parent: nav_item.id), remote: true, class: "button__primary button__full button__small", data: { disable_with: "Loading" }) %>
                <% has_navigation_models.each do |model| %>
                  <%= content_tag :li, link_to(model.to_s, model.get_new_admin_url(site_parent: nav_item.id), class: "button__primary button__full button__small")  %>
                <% end %>
              </ul>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <% unless nav_item.children.empty? %>
      <ol class="nav-items <%= "sitemap--root" if level.eql?(0) -%>">
        <%= render partial: 'nav_item', collection: nav_item.children, as: :nav_item, locals: { level: level + 1 } %>
      </ol>
    <% end %>
  </li>

<%# end %>
