<% content_for :header do %>
  <%= breadcrumb_list do %>
    <li><%= link_to "Navigations", katalyst_navigation.menus_path %></li>
    <li><%= link_to menu.title, katalyst_navigation.menu_path(menu) %></li>
  <% end %>

  <h1>Edit navigation</h1>

  <%= actions_list do %>
    <li><%= link_to_delete(menu, url: katalyst_navigation.menu_path(menu)) %></li>
  <% end %>
<% end %>

<%= form_with model: menu, url: katalyst_navigation.menu_path(menu) do |form| %>
  <%= form.govuk_text_field :title %>
  <%= form.govuk_text_field :slug %>
  <%= form.govuk_text_field :depth %>
  <%= form.button(type: :submit, class: "button") %>
<% end %>
