<% content_for :header do %>
  <h1>Navigation</h1>

  <%= actions_list do %>
    <li><%= link_to "New", katalyst_navigation.new_menu_path %>
  <% end %>
<% end %>

<%= table_with(collection:) do |row, menu| %>
  <%= row.link :title, url: (katalyst_navigation.menu_path(menu) if menu) %>
  <%= row.text :slug %>
<% end %>
