<% content_for :header do %>
  <%= breadcrumb_list do %>
    <li><%= link_to "Navigations", katalyst_navigation.menus_path %></li>
  <% end %>

  <h1>New navigation</h1>
<% end %>

<%= form_with model: menu, url: katalyst_navigation.menus_path do |form| %>
  <%= form.govuk_text_field :title %>
  <%= form.govuk_text_field :slug %>
  <%= form.govuk_text_field :depth %>
  <%= form.button(type: :submit, class: "button") %>
<% end %>
