<% content_for :header do %>
  <%= breadcrumb_list do %>
    <li><%= link_to "Navigations", katalyst_navigation.menus_path %></li>
  <% end %>

  <h1><%= menu.title %></h1>

  <%= actions_list do %>
    <li><%= link_to("Edit", katalyst_navigation.edit_menu_path(menu)) %></li>
  <% end %>
<% end %>

<%= render editor.status_bar %>
<%= render editor %>
