<%# locals: (admin_user:, token:) %>

<%= render "layouts/koi/navigation_header" %>

<%= form_with(url: admin_session_token_path(token), method: :patch) do |form| %>
  <p>Welcome to Koi Admin</p>
  <%= summary_table_with(model: admin_user) do |row| %>
    <%= row.text :name %>
    <%= row.text :email %>
  <% end %>
  <div class="actions">
    <%= form.admin_save "Sign in" %>
  </div>
<% end %>
