<!DOCTYPE html>
<html>
  <head>
    <title>Dummy Site</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>

    <header>
      <%= render_navigation items: NavItem.navigation("header_navigation"), expand_all: true %>
    </header>

    <h2><%= active_navigation_item_name %></h2>

    <h3><%= render_navigation :renderer => :breadcrumbs, :join_with => ' &raquo; ' %></h3>

    <%= yield :title if content_for?(:title) %>
    <%= yield %>

    <footer>
      <%= render_navigation items: NavItem.navigation("footer_navigation"), expand_all: true %>
    </footer>

  </body>
</html>
