<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%= t("site.title", default: "Default Title") %></title>
    <meta http-equiv="description" content="<%= t("site.meta_description", default: "") %>" />
    <meta http-equiv="keywords" content="<%= t("site.meta_keywords", default: "") %>" />
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <%= raw t("site.google_analytics", default: "") %>
  </head>
  <body>

  <header>
    <%= render_navigation renderer: :sf_menu, items: NavItem.navigation("header_navigation", binding()), level: 1..2, expand_all: true, :dom_id => "nav-one", :dom_class => 'nav' , :link => {:class => 'subsection' } %>
  </header>

  <h2>Active Item: <%= active_navigation_item %>, <%= active_navigation_item_name %>, <%= active_navigation_item_key %></h2>
  <h2>Active Item Cascade:</h2>
  <p><%#= active_item_cascade.collect { |n| [n.id, n.title, n.url, (n.try(:navigable) if n.respond_to? :navigable)] } %></p>

  <%= settings.collect { |s| s.label }.join(", ") %>

  <h3><%= render_navigation :renderer => :breadcrumbs, :join_with => ' &raquo; ' %></h3>

  <%= yield :title if content_for?(:title) %>
  <%= yield %>

  <footer>
    <%= render_navigation items: NavItem.navigation("footer_navigation"), expand_all: true %>
  </footer>

  </body>
</html>
