<%= form_with model: article, url: [:admin, article], builder: Koi::FormBuilder do |form| %>
  <%= form.govuk_fieldset legend: nil, data: { controller: "sluggable", sluggable_slug_value: form.object.slug } do %>
    <%= form.govuk_text_field :title,
                              label: { size: "s" },
                              data:  { sluggable_target: "source", action: "keyup->sluggable#sourceChanged" } %>

    <%= form.govuk_text_field :slug,
                              label: { size: "s" },
                              data:  { sluggable_target: "slug", action: "keyup->sluggable#slugChanged" } %>
  <% end %>

  <%= form.govuk_check_box_field :show_title, label: { text: "Show title", size: "s" } %>

  <%= form.govuk_image_field :image, label: { text: 'Upload image', size: "s" } %>

  <%= form.govuk_text_area :short_description, label: { text: "Short description", size: "s" } %>


  <div class="govuk-button-group">
    <%= form.govuk_submit "Save", name: :commit, value: :save %>

    <%= form.govuk_submit text: "Delete", method: :delete if form.object.persisted? %>
  </div>
<% end %>
