<% if breadcrumbs? %>
  <%= breadcrumb_list do %>
    <% breadcrumbs.each do |breadcrumb| %>
      <li><%= breadcrumb %></li>
    <% end %>
  <% end %>
<% end %>

<h1><%= @title %></h1>

<% if actions? %>
  <%= actions_list do %>
    <% actions.each do |action| %>
      <li><%= action %></li>
    <% end %>
  <% end %>
<% end %>
