<%= render "layouts/koi/navigation_header" %>
<%= form_with(
      model: admin_user,
      url:   admin_session_path,
      data:  {
        controller:                            "webauthn-authentication",
        webauthn_authentication_options_value: { publicKey: webauthn_auth_options },
      }) do |f| %>
  <%= f.govuk_fieldset legend: nil do %>
    <%= f.govuk_email_field :email, autofocus: true, autocomplete: "email" %>
    <%= f.govuk_password_field :password, autocomplete: "current-password" %>
    <%= f.hidden_field :response, data: { webauthn_authentication_target: "response" } %>
  <% end %>
  <div class="actions-group">
    <%= f.admin_save "Log in" %>
    <%= f.button "🔑", type: :button, class: "button button--secondary", data: { action: "webauthn-authentication#authenticate" } %>
  </div>
<% end %>
