<%- # Make icons accessible via JS -%>
<div style="display: none;" data-ornament-icons>
  <div data-ornament-icon-chevron><%= icon("chevron") -%></div>
  <div data-ornament-icon-plus><%= icon("plus_thin") -%></div>
  <div data-ornament-icon-close><%= icon("close") -%></div>
  <div data-ornament-icon-spinner><%= icon("spinner") -%></div>
  <div data-ornament-icon-visible><%= icon("visible") -%></div>
  <div data-ornament-icon-hidden><%= icon("hidden") -%></div>
</div>