<nav role="navigation" aria-label="Main menu" aria-expanded="true" data-controller="navigation"
     data-action="shortcut:go@document->navigation#focus
     navigation:toggle@document->navigation#toggle
     shortcut:nav-toggle@document->navigation#toggle">
  <%= render "layouts/koi/navigation_header", admin: current_admin %>
  <div class="filter">
    <input type="search" placeholder="Filter menu" autocomplete="off"
           data-navigation-target="filter"
           data-action="input->navigation#filter change->navigation#filter
                        keydown.enter->navigation#go keydown.esc->navigation#clear">
  </div>
  <ul role="list">
    <li>
      <span><%= current_admin_user.name %></span>
      <ul role="list">
        <li><%= link_to("Profile", main_app.admin_admin_user_path(current_admin_user)) %></li>
        <li><%= link_to("Log out", main_app.admin_session_path, data: { turbo_method: :delete }) %></li>
      </ul>
    </li>
  </ul>
  <%= navigation_menu_with(menu: Koi::Menu.admin_menu(self)) %>
</nav>
<%= render "layouts/koi/navigation_collapse" %>
