<ul class="nav pull-right">
  <li><%= link_to "Dashboard", koi_engine.dashboard_path %></li>
  <li><%= link_to "Sitemap", koi_engine.sitemap_nav_items_path %></li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Module <b class="caret"></b> </a>
    <ul class="dropdown-menu">
      <% Koi::Menu.items.each do |key, value| %>
        <%= content_tag :li, link_to(raw(key), value) %>
      <% end %>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Assets <b class="caret"></b> </a>
    <ul class="dropdown-menu">
      <li><%= link_to "Images", koi_engine.images_path, target: '_overlay' %></li>
      <li><%= link_to "Documents", koi_engine.documents_path, target: '_overlay' %></li>
    </ul>
  </li>
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Advanced <b class="caret"></b> </a>
    <ul class="dropdown-menu">
      <%- unless Koi::Menu.advanced.blank? -%>
        <% Koi::Menu.advanced.each do |key, value| %>
          <%= content_tag :li, link_to(raw(key), value) %>
        <% end %>
      <%- end -%>
      <li><%= link_to "Clear Cache", koi_engine.clear_cache_path, method: :post %></li>
      <%- if current_admin.god? -%>
        <li><%= link_to "Background Jobs", koi_engine.sidekiq_path, target: "_blank" %></li>
      <%- end -%>
    </ul>
  </li>
  <li><%= link_to "Settings", koi_engine.translations_path %></li>
  <li><%= link_to "Help", koi_engine.help_path %></li>
  <li><%= link_to "Logout", koi_engine.destroy_admin_session_path, method: :delete %></li>
</ul>
