<!DOCTYPE html>
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="UTF-8">

  <!-- title -->
  <title>Koi <%= "- #{yield :title}" if content_for? :title %></title>

  <!-- META -->
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=0.6667">
  <meta name="robots" content="noindex,nofollow">
  <%= Koi::Release.meta_tags(self) %>

  <!-- STYLES -->
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <%= stylesheet_link_tag "koi/admin" %>

  <!-- SCRIPTS -->
  <%= javascript_importmap_tags "koi/admin" %>
</head>
<body data-controller="keyboard"
      data-action="keyup->keyboard#event"
      data-keyboard-mapping-value="
          Slash->shortcut:search
          KeyN->shortcut:create
          KeyG->shortcut:go
          BracketLeft->shortcut:nav-toggle
          Escape->shortcut:cancel
          ArrowLeft->shortcut:page-prev
          ArrowRight->shortcut:page-next
        ">
<%= render "layouts/koi/navigation" %>
<main>
  <%= render "layouts/koi/header" %>

  <div class="page <%= "has-sidebar" if content_for?(:sidebar) %>">
    <div class="page--content stack" role="main">
      <%= render "layouts/koi/flash" unless flash.empty? %>
      <%= yield %>
    </div>
    <%= tag.div class: "page--sidebar" do %>
      <%= yield :sidebar %>
    <% end if content_for?(:sidebar) %>
  </div>
</main>
<%= render "layouts/koi/environment" %>
<%= scrim_tag %>
<%= kpop_frame_tag do %>
  <%= content_for :kpop %>
<% end %>
</body>
</html>
