<% content_for :body do %>

  <header class="content--header">
    <% if content_for?(:title) %>
      <h1 class="heading-one content--title"><%= yield :title %></h1>
    <% end %>
    <% if content_for?(:breadcrumbs) %>
      <p class="breadcrumbs">
        <%= yield :breadcrumbs %>
      </p>
    <% end %>
  </header>

  <div class="layout--content">
    <div class="layout--content--main">
      <%= render "koi/shared/flash_messages" %>
      <%= yield %>
    </div>
    <div class="layout--content--aside">
      <%= content_for?(:side) ? yield(:side) : raw("&nbsp") %>
    </div>
  </div>

<% end %>

<%= render :file => 'layouts/koi/body' %>
