<% content_for :global do %>

  <% if content_for? :title %>
    <h1 class="heading-one page--title">
      <%= yield :title %>
    </h1>
  <% end %>

  <%- if content_for? :sidebar -%>
    <div class="page__with-sidebar">
      <div class="page--main">
        <%= content_for?(:application) ? yield(:application) : yield %>
      </div>
      <div class="page--sidebar">
        <%= yield :sidebar -%>
      </div>
    </div>
  <%- elsif content_for? :side -%>
    <div class="page__with-sidebar-right">
      <div class="page--main">
        <%= content_for?(:application) ? yield(:application) : yield %>
      </div>
      <div class="page--sidebar">
        <%= yield :side -%>
      </div>
    </div>
  <%- else -%>
    <%= content_for?(:application) ? yield(:application) : yield %>
  <%- end -%>  
  
<% end %>

<%= render :file => "layouts/koi/global" %>
