<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- title -->
  <title><%= Koi.config.admin_name %><%= " - #{yield :title}" if content_for? :title %></title>

  <!-- meta -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=0.6667">
  <meta name="robots" content="noindex,nofollow">
  <%= Koi::Release.meta_tags(self) %>

  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <%= yield :head %>

  <!-- fonts -->
  <%= preload_link_tag("koi/inter-variable-v4-1.woff2") %>
  <%= preload_link_tag("koi/inter-variable-v4-1-italic.woff2") %>
  <%= preload_link_tag("koi/inconsolata-v37-latin-regular.woff2") %>

  <!-- icons -->
  <%= favicon_link_tag("koi/logo.svg") %>

  <!-- styles -->
  <%= stylesheet_link_tag(Koi.config.admin_stylesheet, "data-turbo-track": "reload") %>

  <!-- scripts -->
  <%= javascript_importmap_tags(Koi.config.admin_javascript_entry_point) %>
</head>
<body data-controller="keyboard"
      data-action="keyup->keyboard#event"
      data-keyboard-mapping-value="
          Slash->shortcut:search
          KeyN->shortcut:create
          KeyG->shortcut:go
          Escape->shortcut:cancel
          ArrowLeft->shortcut:page-prev
          ArrowRight->shortcut:page-next
        ">
<!-- application header -->
<%= render "layouts/koi/application_header" unless content_for(:roadblock) %>

<!-- header -->
<% if content_for?(:header) %>
  <header class="page-header">
    <div class="flow wrapper">
      <%= yield(:header) %>
    </div>
  </header>
<% end %>

<!-- main -->
<% if content_for(:roadblock) %>
  <main class="cover">
    <div class="roadblock | flow wrapper">
      <%= yield(:roadblock) %>
    </div>
  </main>
<% else %>
  <main class="flow wrapper">
    <% unless flash.empty? %>
      <!-- flash -->
      <%= render("layouts/koi/flash") %>
    <% end %>

    <!-- content -->
    <%= yield %>
  </main>
<% end %>

<!-- application navigation -->
<%= render("layouts/koi/application_navigation") unless content_for(:roadblock) %>

</body>
</html>
