<!DOCTYPE html>
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="UTF-8">

  <!-- title -->
  <title><%= Koi.config.admin_name %><%= " - #{yield :title}" if content_for? :title %></title>

  <!-- META -->
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=0.6667">
  <meta name="robots" content="noindex,nofollow">
  <%= Koi::Release.meta_tags(self) %>

  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <%= yield :head %>

  <%# Deprecated: meta, use :head instead %>
  <%= yield :meta %>

  <!-- STYLES -->
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <%= stylesheet_link_tag Koi.config.admin_stylesheet, "data-turbo-track": "reload" %>

  <!-- SCRIPTS -->
  <%= javascript_importmap_tags "koi/admin" %>
</head>
<body data-controller="keyboard"
      data-action="keyup->keyboard#event"
      data-keyboard-mapping-value="
          Slash->shortcut:search
          KeyN->shortcut:create
          KeyG->shortcut:go
          BracketLeft->shortcut:nav-toggle
          Escape->shortcut:cancel
          ArrowLeft->shortcut:page-prev
          ArrowRight->shortcut:page-next
        ">
<%= render "layouts/koi/navigation" %>
<main>
  <% if content_for? :header %>
    <%= yield :header %>
  <% else %>
    <%= render "layouts/koi/header" %>
  <% end %>

  <div class="page <%= "has-sidebar" if content_for?(:sidebar) %>">
    <div class="page--content stack" role="main">
      <%= render "layouts/koi/flash" unless flash.empty? %>
      <%= yield %>
    </div>
    <%= tag.div class: "page--sidebar" do %>
      <%= yield :sidebar %>
    <% end if content_for?(:sidebar) %>
  </div>
</main>
<%= render "layouts/koi/environment" %>
<%= render ScrimComponent.new %>
<%= render Kpop::FrameComponent.new do %>
  <%= content_for :kpop %>
<% end %>
</body>
</html>
