<% content_for :global do %>

  <% if content_for? :sidebar %>
    <div class="page__with-sidebar">
      <div class="page--main" role="main">
        <%= content_for?(:application) ? yield(:application) : yield %>
      </div>
      <div class="page--sidebar">
        <%= yield :sidebar %>
      </div>
    </div>
  <% elsif content_for? :side %>
    <div class="page__with-sidebar-right">
      <div class="page--main" role="main">
        <%= content_for?(:application) ? yield(:application) : yield %>
      </div>
      <div class="page--sidebar">
        <%= yield :side %>
      </div>
    </div>
  <% elsif content_for? :side_top %>
    <div class="page__with-sidebar-right page__with-sidebar-top">
      <div class="page--main" role="main">
        <%= content_for?(:application) ? yield(:application) : yield %>
      </div>
      <div class="page--sidebar">
        <%= yield :side_top %>
      </div>
    </div>
  <% else %>
    <div role="main">
      <%= content_for?(:application) ? yield(:application) : yield %>
    </div>
  <% end %>
<% end %>

<%= render template: "layouts/koi/global" %>
