<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- title -->
  <title><%= Koi.config.admin_name %><%= " - #{yield :title}" if content_for? :title %></title>

  <!-- META -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=0.6667">
  <meta name="robots" content="noindex,nofollow">
  <%= Koi::Release.meta_tags(self) %>

  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <%= yield :head %>

  <!-- STYLES -->
  <%= stylesheet_link_tag Koi.config.admin_stylesheet, "data-turbo-track": "reload" %>

  <!-- SCRIPTS -->
  <%= javascript_importmap_tags "koi/admin" %>
</head>
<body data-controller="keyboard"
      data-action="keyup->keyboard#event"
      data-keyboard-mapping-value="
          Slash->shortcut:search
          KeyN->shortcut:create
          KeyG->shortcut:go
          Escape->shortcut:cancel
          ArrowLeft->shortcut:page-prev
          ArrowRight->shortcut:page-next
        ">
<!-- application header -->
<%= render "layouts/koi/application_header" %>

<!-- header -->
<% if content_for? :header %>
  <%= yield :header %>
<% end %>

<main class="flow wrapper">
  <% unless flash.empty? %>
    <!-- flash -->
    <%= render "layouts/koi/flash" %>
  <% end %>

  <!-- content -->
  <%= yield %>
</main>

<!-- application navigation -->
<%= render "layouts/koi/application_navigation" %>

</body>
</html>
