<% js_data :create_asset_url, collection_path %>
<% js_data :accepted_extensions, Koi::Asset.const_get(resource_class.name).extensions.join(',') %>

<% content_for :head, javascript_include_tag("koi/assets") %>

<% content_for :html do %>
  <body style="width:950px;overflow:hidden;">

    <div class="row h-400">
      <header class="titlebar span24">
        <div class="pad-t-1 space-l-1 ">
          <h2 class="pull-left">Select <%= resource_class.name %></h2>
          <div class="pull-right space-t-half pad-r-2">
            <%= link_to "Upload New #{ resource_class.name }", collection_path, class: "btn btn-small space-r-2" %>
            <a name="close" class="asset-manager">&times;</a>
          </div>
        </div>
      </header>

      <nav class="bg-mediumgrey pad-t-2 pad-b-1 span24">
        <div class="space-l-2">
          <p class="pull-left">Filter:</p>
          <ul class="unmarked-list floated-l-list spaced-l-list pull-left space-l-0">

            <%# @all_tags = %w[ Untagged Guidelines Terms&Conditions Reports Other ] %>
            <li>
              <%= link_to "All", { tags: nil }, class: "#{"black" if @tags.empty?} btn btn-mini" %>
            </li>

            <% @all_tags.each do |tag| %>

              <% selected = @tags.include? tag %>
              <li>
                <%= link_to tag.to_s, params.merge( tags: @tags.send( (selected ? :- : :+), [ tag ]) ), class: "#{"black" if selected} btn btn-mini" %>
              </li>

            <% end %>
          </ul>
        </div>
      </nav>
    </div>

    <div class="row">
      <div class="span24 bg-lightgrey">
        
        <div class="row">
          <div class="span18 h-600" style="padding-right:10px;overflow:auto;">
            <nav>
              <div class ="pad-1 clearfix">
                <div class="pull-left space-l-1"><%= pluralize collection.size, resource_class.name %></div>

                <%= form_tag collection_path, :method => 'get', class: "simple_form form-inline pull-right" do %>

                  <%= hidden_field_tag :direction, params[:direction], id: "search_direction" %>
                  <%= hidden_field_tag :sort     , params[:sort]     , id: "search_sort"      %>
                  <%= hidden_field_tag :per      , params[:per]      , id: "search_per"       %>
                  <% unless params[:tags].blank? %>
                    <% params[:tags].each do |tag| %><%= hidden_field_tag "tags[]", tag %><% end %>
                  <% end %>

                  <span>Search</span>

                  <input type="text"
                         name="search"
                         placeholder="Enter search criteria"
                         value="<%= params[:search] %>"
                         class="span5 " />

                    <%= content_tag :button, "Go", type: "submit", name: "commit", value: "Search", class: "btn btn-primary btn-small" %>
                    <%= link_to "Reset", collection_path(params.merge search: nil), class: "btn btn-small" %>
                <% end %>
              </div>
            </nav>
            <div class=" pad-1">
              <table class="table table-striped table-condensed txt-grey font-12px">
                <thead>
                  <tr>
                    <th>
                    </th>
                    <th>
                      <div>
                        <%= sortable "data_name", "Name", style: "padding-right:15px;" %>
                      </div>
                    </th>
                    <th>
                      <div class="inline grey text button">
                        <%= sortable "created_at", "Uploaded", style: "padding-right:15px;" %>
                      </div>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <% collection.each_with_index do |asset, i| %>
                    <% begin %>
                      <tr>
                        <td>
                          <%= link_to resource_path asset do %>
                            <%= image_tag(asset.thumbnail(size: '16x16#'), width: 16, height: 16, class: "pad-t-4px") %>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to resource_path asset do %>
                            <%= asset.data_name %>
                          <% end %>
                        </td>
                        <td>
                          <%= link_to resource_path asset do %>
                            <%= date_d_Month_yyyy asset.created_at %>
                          <% end %>
                        </td>
                      </tr>
                    <% rescue Dragonfly::DataStorage::DataNotFound %>
                    <% next %>
                    <% end %>
                  <% end %>
                </tbody>
              </table>
            </div>
          </div>
          <div class="asset-manager-bg-darkgrey span6 h-600" style="margin-left:0;">
            <%= content_for?(:assets) ? yield(:assets) : yield %>
          </div>
        </div>
      </div>
    </div>

  </body>
<% end %>

<%= render :file => 'layouts/koi/html' %>

