<% content_for :javascripts do %>
  <%= javascript_include_tag "koi/admin/assets" %>
<% end %>

<% content_for :global do %>
  <div class="row h-400">
    <header class="katalyst titlebar span24">
      <%= render "title_bar" %>
    </header>

    <nav class="asset-manager-bg-mediumgrey pad-t-2 pad-b-1 span24">
      <div class="space-l-2">
        <%= render "tag_bar" %>
      </div>
    </nav>
  </div>

  <div class="row asset-manager-bg-lightgrey">

    <div class="asset-manager-bg-lightgrey span18 h-600">
      <nav>
        <%= render "tool_bar" %>
      </nav>
      <div class=" pad-1">
        <%= render "asset_table" %>
      </div>
    </div>

    <div class="asset-manager-bg-darkgrey span6 h-600">
      <%= content_for?(:assets) ? yield(:assets) : yield %>
    </div>
  </div>
<% end %>

<%= render :file => 'layouts/koi/global' %>

