<% content_for :html do %>
  <body>
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to koi_engine.dashboard_path, class: "logo-header" do %>
            <%= image_tag "koi/application/logo-katalyst.png", border: 0 %>
          <% end %>
          <%= render :partial => "layouts/koi/navigation" %>
        </div>
      </div>
    </div>
    <div class="container space-t-10 ">
      <%= content_for?(:body) ? yield(:body) : yield %>
    </div>
  </body>
<% end %>

<%= render :file => 'layouts/koi/html' %>
