<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta -->
    <meta charset="UTF-8" />

    <!-- title -->
    <title>Koi</title>

    <!-- META -->
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=0.6667"/>
    <meta name="robots" content="noindex,nofollow"/>
    <%= yield :meta %>

    <!-- APPLICATION -->
    <meta name="theme-color" content="#ff521f" />

    <!-- WEBFONTS -->
    <%= render "layouts/koi/webfonts" %>

    <!-- STYLES -->
    <%= stylesheet_link_tag "katalyst/govuk/formbuilder" %>
    <%= stylesheet_link_tag "koi/admin" %>

    <!-- ETC -->
    <%= yield(:head) %>

  </head>
  <body>
    <div class="layout--container devise">
      <div class="devise--logo">
        <h1>Koi</h1>
      </div>
      <div class="devise--body">
        <%= content_for?(:devise) ? yield(:devise) : yield %>
      </div>
    </div>
  </body>
</html>
