<html>
<head>
  <%# Workaround for https://github.com/hotwired/turbo-rails/issues/669 %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%# include all turbo-track elements so turbo knows it can cache frame visits %>
  <%= stylesheet_link_tag Koi.config.admin_stylesheet, "data-turbo-track": "reload" %>
  <%= javascript_importmap_tags "koi/admin" %>
  <%= yield :head %>
</head>
<body>
<%= yield %>
</body>
</html>
