<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- meta -->
    <meta charset="UTF-8" />

    <!-- title -->
    <title>Koi <%= "- #{ yield :title }" if content_for? :title %></title>

    <!-- META -->
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=0.6667"/>
    <% unless Rails.env == "production" %>
      <meta name="robots" content="noindex,nofollow"/>
    <% end  %>
    <%= yield :meta %>

    <!-- APPLIACTION -->
    <meta name="theme-color" content="#ff521f" />

    <!-- DATA -->
    <!-- FIXME: helper isn't loaded by DeviseController -->
    <%= js_data if defined?(js_data) %>

    <!-- WEBFONTS -->
    <%= render "layouts/koi/webfonts" -%>

    <!-- STYLES -->
    <%= stylesheet_link_tag "koi/application" %>
    <%= yield :styles %>
    <%= yield :stylesheets %>

    <!-- SCRIPTS -->
    <%= javascript_include_tag "koi/modernizr" %>
    <%= javascript_include_tag "koi" %>
    <%= render 'koi/custom_javascripts' %>
    <%= yield :javascripts %>
    <%= yield :scripts %>

    <!-- ETC -->
    <%= yield(:head) %>

  </head>
  <body>

    <%- if content_for?(:include_google_maps) -%>
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAjgOvjmIVHFO-1IVSYWeZN-1Yp_MkjeW0&libraries=places"></script>
    <%- end -%>

    <div class="layout <%= "layout__headerless" if content_for?(:hide_header) -%>">
      <div class="layout--mobile-tray">
        <nav class="navigation-mobile">
          <div class="pane-wrapper">
            <div class="pane">
              <div class="pane--navigation-container">
                <div class="navigation-mobile--header">
                  koi
                </div>
                <%= render :partial => "layouts/koi/navigation" %>
              </div>
            </div>
          </div>
        </nav>
      </div>

      <div class="layout--content">

        <header class="header global-header" role="banner">
          <%= link_to koi_engine.dashboard_path, class: "header--logo" do %>
            koi
          <% end %>
          <ul class="header--actions">
            <%- Koi::PriorityMenu.items.each do |menu_item| -%>
              <li class="<%= "action" if menu_item[:icon] -%>">
                <%- 
                  link_opts = {}
                  link_opts.merge!(menu_item[:link_opts]) if menu_item[:link_opts]
                  link_opts.merge!({title: menu_item[:label]})
                  link_opts.merge!({ data: { tooltip: "", tooltip_basic: "", tooltip_position: "bottom middle" } }) if menu_item[:icon]
                -%>
                <%= link_to menu_item[:url], link_opts do -%>
                  <%- if menu_item[:icon] -%>
                    <%= icon(menu_item[:icon], menu_item[:icon_opts]) -%>
                  <%- else -%>
                    <%= menu_item[:label] -%>
                  <%- end -%>
                <%- end -%>
              </li>
            <%- end -%>
            <%- if current_admin.god? -%>
              <li class="action">
                <%= link_to koi_engine.clear_cache_path, method: :post, title: "Refresh Cache", data: { tooltip: "", tooltip_basic: "", tooltip_position: "bottom middle" } do %>
                  <%= icon("refresh", fill: "#2ECC71") -%>
                <%- end -%>
              </li>
            <%- end -%>
            <li>
              <button class="layout--switch header--menu" data-mobile-menu-switch>
                <%= icon("menu", fill: "#ffffff") -%>
                <%= icon("cross", fill: "#ffffff") -%>
              </button>
            </li>
          </ul>
        </header>

        <a id="main" name="main" tabindex="-1"></a>

        <main class="layout--main <%= yield(:layout_class) -%>" role="main">
          <!--[if lte IE 9 ]>
            <div class="browser-warning">
              <div class="browser-warning--inner compressed">
                <p>It looks like you're using an out-dated version of Internet Explorer.</p>
                <p>Please either use at least Internet Explorer 10, or try a free alternative browser such as <a href="https://www.google.com/chrome/browser/desktop/index.html" target="_blank">Google Chrome</a> or <a href="https://www.mozilla.org/en-US/firefox/new/" target="_blank">Mozilla Firefox</a>.</p>
              </div>
            </div>
          <![endif]-->

          <%= render "/koi/shared/flash_messages" -%>

          <% if content_for?(:breadcrumbs) %>
            <div class="breadcrumbs">
              <div class="layout--container">
                <%= yield :breadcrumbs %>
              </div>
            </div>
          <% end %>

          <% if content_for? :title %>
            <div class="page--title <%= "page--title__border" unless content_for?(:title_tabs) -%>">
              <div class="layout--container">
                <h1 class="heading-one"><%= yield :title %></h1>
                <%= yield :title_tabs -%>
              </div>
            </div>
          <% end %>

          <%= yield :above_layout -%>
          <%- if content_for?(:global) || !yield.blank? -%>
            <div class="layout--container">
              <%= content_for?(:global) ? yield(:global) : yield %>
            </div>
          <%- end -%>

        </main>
        
        <%= yield :below_layout -%>

      </div>
    </div>

    <div id="void" class="hidden">

      <div koi="ask" class="modal hide fade">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 koi:bind="question">What?</h3>
        </div>
        <div class="modal-body">
          <input class="input-xlarge" name="answer" koi:bind="answer" />
        </div>
        <div class="modal-footer">
          <button type="button" name="cancel" class="btn close" data-dismiss="modal">Cancel</button>
          <button type="button" name="submit" class="space-r-1 btn btn-primary" data-dismiss="modal">Ok</button>
        </div>
      </div>

    </div>

    <%- # Make icons accessible via JS -%>
    <div style="display: none;" data-ornament-icons>
      <div data-ornament-icon-chevron><%= icon("chevron") -%></div>
      <div data-ornament-icon-plus><%= icon("plus_thin") -%></div>
      <div data-ornament-icon-close><%= icon("close") -%></div>
    </div>

    <%= yield :scripts_bottom %>

  </body>
</html>
