<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">

  <!-- title -->
  <title><%= Koi.config.admin_name %></title>

  <!-- meta -->
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=0.6667">
  <meta name="robots" content="noindex,nofollow">
  <%= Koi::Release.meta_tags(self) %>

  <meta name="turbo-refresh-method" content="morph">
  <meta name="turbo-refresh-scroll" content="preserve">
  <%= yield :head %>

  <!-- icons -->
  <link rel="icon" sizes="any" type="image/svg+xml" href="<%= path_to_image("koi/logo.svg") %>">

  <!-- styles -->
  <%= stylesheet_link_tag path_to_stylesheet("koi/login.css"), "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag Koi.config.admin_stylesheet, "data-turbo-track": "reload" %>

  <!-- scripts -->
  <%= javascript_importmap_tags Koi.config.admin_javascript_entry_point %>
</head>
<body>
<main class="cover" data-centered>
  <div class="login | modal">
    <div class="wrapper flow">
      <header>
        <icon aria-hidden="true" class="icon" data-icon="koi">&nbsp;</icon>
        <h1>Koi</h1>
        <h2 class="site-name"><%= URI.parse(root_url).host %></h2>
      </header>

      <%= yield %>
    </div>
  </div>
</main>
</body>
</html>
