<!DOCTYPE html>
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="UTF-8">

  <!-- title -->
  <title>Koi</title>

  <!-- META -->
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=0.6667">
  <meta name="robots" content="noindex,nofollow">
  <%= yield :meta %>

  <!-- STYLES -->
  <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css">
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <%= stylesheet_link_tag "koi/admin" %>

  <!-- SCRIPTS -->
  <%= javascript_importmap_tags "koi/admin" %>
</head>
<body class="admin-login">
<main class="stack">
  <%= yield %>
</main>
</body>
</html>
