<!DOCTYPE html>
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="UTF-8">

  <!-- title -->
  <title>Koi</title>

  <!-- META -->
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=0.6667">
  <meta name="robots" content="noindex,nofollow">
  <%= yield :meta %>

  <!-- STYLES -->
  <%= stylesheet_link_tag path_to_stylesheet("koi/login.css"), "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag Koi.config.admin_stylesheet, "data-turbo-track": "reload" %>

  <!-- SCRIPTS -->
  <%= javascript_importmap_tags Koi.config.admin_javascript_entry_point %>
</head>
<body>
<main class="cover" data-centered>
  <div class="login | modal">
    <header>
      <img src="<%= path_to_image("koi/koi.png") %>" alt="Koi" aria-hidden>
      <h1>Koi</h1>
      <h2 class="site-name"><%= URI.parse(root_url).host %></h2>
    </header>

    <%= yield %>
  </div>
</main>
</body>
</html>
