<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" class="<%= page_type %>">
  <head>
    <meta charset="UTF-8" />
    <%= csrf_meta_tags %>
    <%= yield(:meta) %>
    <title>Koi <%= "- #{ yield :title }" if content_for? :title %></title>
    <%= js_data %>
    <%= yield(:stylesheets) %>
    <%= yield(:javascripts) %>
    <%= yield(:head) %>
    <%= raw t("site.fonts", default: "") %>
  </head>
  <%= yield :root %>
</html>

