<%# locals: (well_known:) %>

<% content_for(:header) do %>
  <%= breadcrumb_list do %>
    <li><%= link_to("Well Knowns", admin_well_knowns_path) %></li>
    <li><%= link_to(well_known, admin_well_known_path(well_known)) %></li>
  <% end %>

  <h1>Edit well known</h1>

  <%= actions_list do %>
    <li><%= link_to_delete(well_known) %></li>
  <% end %>
<% end %>

<%= render("form", well_known:) %>
