<%# locals: (collection:) %>

<% content_for(:header) do %>
  <h1>Well Knowns</h1>

  <%= actions_list do %>
    <li><%= link_to("New", new_admin_well_known_path) %></li>
  <% end %>
<% end %>

<%= table_query_with(collection:) %>

<%= table_with(collection:) do |row, well_known| %>
  <% row.link :name %>
  <% row.text :purpose %>
<% end %>

<%= table_pagination_with(collection:) %>
