<%# locals: (well_known:) %>

<% content_for(:header) do %>
  <%= breadcrumb_list do %>
    <li><%= link_to("Well Knowns", admin_well_knowns_path) %></li>
  <% end %>

  <h1><%= well_known %></h1>

  <%= actions_list do %>
    <li><%= link_to("Edit", edit_admin_well_known_path(well_known)) %></li>
  <% end %>
<% end %>

<%= summary_table_with(model: well_known) do |row| %>
  <% row.text :name %>
  <% row.text :purpose %>
  <% row.enum :content_type %>
  <% row.text :content %>
<% end %>
