<%-
  title ||= false
  inline_id ||= false
  no_hide ||= false
  body_class ||= ""
  lightbox_class ||= ""
  footer ||= false
-%>

<div class="lightbox--body <%= "mfp-hide" unless no_hide -%> <%= lightbox_class -%>" id="<%= inline_id if inline_id -%>">
  <div class="lightbox--header">
    <div class="lightbox--header--logo">
      <%= title ? title : "koi" -%>
    </div>
    <div class="lightbox--header--close" data-lightbox-close title="Close">
      <%= icon("close", stroke: "#fff") -%>
    </div>
  </div>
  <div class="lightbox--content--wrapper">
    <div class="lightbox--shadow-top" data-shadow-top></div>
    <div class="lightbox--shadow-bottom" data-shadow-bottom></div>
    <div class="lightbox--content <%= body_class -%>">
      <%= yield -%>
    </div>
  </div>
  <%- if footer -%>
    <div class="lightbox--footer">
      <%= footer -%>
    </div>
  <%- end -%>
</div>