<%= form_with model: figure, scope: :item, url: path, builder: Koi::FormBuilder do |form| %>
  <%= render "hidden_fields", form: form %>

  <%= form.govuk_image_field :image do %>
    <%= form.govuk_text_field :heading, label: { text: "Alternate text" } %>
    <%= form.govuk_text_field :caption %>
  <% end %>

  <%= form.govuk_select :background, Katalyst::Content.config.backgrounds %>

  <%= form.govuk_check_box_field :visible, label: { text: "Visible? "} %>

  <div class="actions">
    <%= form.admin_save "Done" %>
    <%= form.admin_discard %>
  </div>
<% end %>
