<%# locals: (admin_user:) %>

<% content_for(:header) do %>
  <%= breadcrumb_list do %>
    <li><%= link_to("Admin users", admin_admin_users_path) %></li>
    <li><%= link_to(admin_user, admin_admin_user_path(admin_user)) %></li>
  <% end %>

  <h1>Edit admin user</h1>

  <%= actions_list do %>
    <% unless admin_user == current_admin %>
      <li><%= link_to_archive_or_delete(admin_user) %></li>
    <% end %>
  <% end %>
<% end %>

<%= render("form", admin_user:) %>
