<%# locals: (admin:) %>

<% content_for :header do %>
  <%= render Koi::Header::ShowComponent.new(resource: admin) %>
<% end %>

<%= render Koi::SummaryTableComponent.new(model: admin) do |builder| %>
  <%= builder.text :name %>
  <%= builder.text :email %>
  <%= builder.date :created_at %>
  <%= builder.date :last_sign_in_at, label: "Last sign in" %>
  <%= builder.boolean :passkey %>
  <%= builder.boolean :otp, label: "MFA" do |otp| %>
    <span class="repel">
      <%= otp %>
      <% if otp.value %>
        <%= button_to("Remove", admin_admin_user_otp_path(admin),
                      class:  "button button--text",
                      method: :delete,
                      form:   { data: { turbo_confirm: "Are you sure?" } }) %>
      <% else %>
        <%= link_to("Add", new_admin_admin_user_otp_path(admin),
                    class: "button", data: { turbo_frame: "edit" }) %>
      <% end %>
    </span>
  <% end %>
<% end %>

<div class="repel">
  <h3>Passkeys</h3>
  <%= link_to("New passkey", new_admin_admin_user_credential_path(admin),
              class: "button", data: { turbo_frame: "edit" }) %>
</div>

<%= render "admin/credentials/credentials", admin: %>

<%= koi_modal_tag("edit") %>
