<% content_for :title, admin %>
<% content_for(:breadcrumbs) { link_to "Admin users", admin_admin_users_path } %>
<% content_for :actions do %>
  <%= link_to "Edit", edit_admin_admin_user_path(admin) %>
<% end %>

<%= render("authentication", admin:) if admin == current_admin %>

<h2 class="heading-four">Summary</h2>

<%= definition_list(class: "item-table") do |builder| %>
  <%= builder.items_with(model: admin, attributes: AdminUser.attribute_names.sort - %w[encrypted_password], skip_blank: true) %>
<% end %>

<div class="actions-group">
  <%= button_to "Delete", admin_admin_user_path(admin),
                class:  "button button--secondary",
                method: :delete,
                form:   { data: { turbo_confirm: "Are you sure?" } } %>
</div>
