<%# locals: (admin:) %>

<% content_for :header do %>
  <%= render Koi::Header::ShowComponent.new(resource: admin) %>
<% end %>

<%= render Koi::SummaryTableComponent.new(model: admin, class: "item-table") do |builder| %>
  <%= builder.text :name %>
  <%= builder.text :email %>
  <%= builder.date :created_at %>
  <%= builder.date :last_sign_in_at, label: "Last sign in" %>
  <%= builder.boolean :passkey %>
  <%= builder.boolean :otp, label: "MFA" %>
  <%= builder.boolean :archived? %>
<% end %>

<div class="actions">
  <% if admin.archived? %>
    <%= button_to "Delete", admin_admin_user_path(admin),
                  class:  "button button--secondary",
                  method: :delete,
                  form:   { data: { turbo_confirm: "Are you sure?" } } %>
  <% end %>
  <%= button_to "Generate login link", admin_admin_user_tokens_path(admin), class: "button button--primary", form: { id: "invite" } %>
</div>
