<%# locals: (admin_user:) %>

<% content_for(:header) do %>
  <%= breadcrumb_list do %>
    <li><%= link_to("Admin users", admin_admin_users_path) %></li>
  <% end %>

  <h1><%= admin_user %></h1>

  <%= actions_list do %>
    <li><%= link_to("Edit", edit_admin_admin_user_path(admin_user)) %></li>
  <% end %>
<% end %>

<%= summary_table_with(model: admin_user) do |row| %>
  <% row.text :name %>
  <% row.text :email %>
  <% row.date :created_at %>
  <% row.date(:last_sign_in_at, label: "Last access") %>
  <% row.boolean :passkey %>
  <% row.boolean(:otp, label: "MFA") do |otp| %>
    <span class="repel">
      <%= otp %>
      <% if otp.value %>
        <%= button_to("Remove", admin_admin_user_otp_path(admin_user),
                      class:  "button button--text",
                      method: :delete,
                      form:   { data: { turbo_confirm: "Are you sure?" } }) %>
      <% else %>
        <%= link_to("Add", new_admin_admin_user_otp_path(admin_user),
                    class: "button", data: { turbo_frame: "edit" }) %>
      <% end %>
    </span>
  <% end %>
<% end %>

<div class="repel">
  <h3>Passkeys</h3>
  <%= link_to("New passkey", new_admin_admin_user_credential_path(admin_user),
              class: "button", data: { turbo_frame: "edit" }) %>
</div>

<%= render "admin/credentials/credentials", admin_user: %>

<%= koi_modal_tag("edit") %>
