<% content_for :header do %>
  <%= render(PageHeaderComponent.new(title: admin.name)) do |c| %>
    <% c.with_breadcrumb("Admin users", admin_admin_users_path) %>
    <% c.with_action("Edit", admin_admin_user_path(admin)) %>
  <% end %>
<% end %>

<h2>Summary</h2>

<%= definition_list(class: "item-table") do |builder| %>
  <%= builder.item admin, :name %>
  <%= builder.item admin, :email %>
  <%= builder.item admin, :created_at %>
  <%= builder.item admin, :last_sign_in_at, label: { text: "Last sign in" } %>
  <%= builder.item admin, :archived? %>
<% end %>

<div class="actions">
  <% if admin.archived? %>
    <%= button_to "Delete", admin_admin_user_path(admin),
                  class:  "button button--secondary",
                  method: :delete,
                  form:   { data: { turbo_confirm: "Are you sure?" } } %>
  <% end %>
</div>

<%= render("authentication", admin:) %>
