<% content_for :header do %>
  <%= render Koi::Header::ShowComponent.new(resource: admin) %>
<% end %>

<%= render Koi::SummaryListComponent.new(model: admin, class: "item-table") do |builder| %>
  <%= builder.text :name %>
  <%= builder.text :email %>
  <%= builder.datetime :created_at %>
  <%= builder.datetime :last_sign_in_at, label: { text: "Last sign in" } %>
  <%= builder.boolean :archived? %>
<% end %>

<div class="actions">
  <% if admin.archived? %>
    <%= button_to "Delete", admin_admin_user_path(admin),
                  class:  "button button--secondary",
                  method: :delete,
                  form:   { data: { turbo_confirm: "Are you sure?" } } %>
  <% end %>
  <%= button_to "Generate login link", admin_admin_user_tokens_path(admin), class: "button button--primary", form: { id: "invite" } %>
</div>

<h2>Authentication</h2>

<%= render "admin/credentials/credentials", admin: %>

<% if admin == current_admin %>
  <div class="actions-group">
    <%= kpop_link_to "Add this device", new_admin_admin_user_credential_path(admin), class: "button button--primary" %>
  </div>
<% end %>
