<%# The container tag
  - available local variables
    current_page:  a page object for the currently displayed page
    total_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
    paginator:     the paginator that renders the pagination tags inside
%>
<%= paginator.render do %>
  <nav class="pagination" role="navigation">
    <%= first_page_tag %>
    <%= prev_page_tag %>
    <div class="pagination--pages">
      <% each_page do |page| %>
        <% if page.left_outer? || page.right_outer? || page.inside_window? %>
          <%= page_tag page %>
        <% elsif !page.was_truncated? %>
          <%= gap_tag %>
        <% end %>
      <% end %>
    </div>
    <div class="pagination--status">
      Page <%= current_page %> of <%= total_pages %>
      <select data-select-link>
        <% (1..total_pages).each do |page| %>
          <option value="<%= "#{@template.url_for}?#{params.merge(page: page.to_s).to_param}" %>" <%= "selected" if page.to_s.eql?(current_page.to_s) %>>Page <%= page %></option>
        <% end %>
      </select>
    </div>
    <%= next_page_tag %>
    <%= last_page_tag %>
  </nav>
<% end %>

