<% content_for :header do %>
  <%= render Koi::Header::EditComponent.new(resource: url_rewrite) %>
<% end %>

<%= form_with(model: url_rewrite, url: admin_url_rewrite_path(url_rewrite)) do |form| %>
  <%= render "fields", form: %>

  <div class="actions">
    <%= form.admin_save %>
    <%= form.admin_delete %>
  </div>
<% end %>
