<%# locals: (url_rewrite:) %>

<% content_for(:header) do %>
  <%= breadcrumb_list do %>
    <li><%= link_to("Url Rewrites", admin_url_rewrites_path) %></li>
    <li><%= link_to(url_rewrite, admin_url_rewrite_path(url_rewrite)) %></li>
  <% end %>

  <h1>Edit url rewrite</h1>

  <%= actions_list do %>
    <li><%= link_to_delete(url_rewrite) %></li>
  <% end %>
<% end %>

<%= render("form", url_rewrite:) %>
