<%# locals: (collection:) %>

<% content_for(:header) do %>
  <h1>Url Rewrites</h1>

  <%= actions_list do %>
    <li><%= link_to("New", new_admin_url_rewrite_path) %></li>
  <% end %>
<% end %>

<%= table_query_with(collection:) %>

<%= table_with(collection:) do |row, url_rewrite| %>
  <% row.link :from %>
  <% row.text :to %>
  <% row.boolean :active %>
<% end %>

<%= table_pagination_with(collection:) %>
