<%# locals: (url_rewrite:) %>

<% content_for(:header) do %>
  <%= breadcrumb_list do %>
    <li><%= link_to("Url Rewrites", admin_url_rewrites_path) %></li>
  <% end %>

  <h1><%= url_rewrite %></h1>

  <%= actions_list do %>
    <li><%= link_to("Edit", edit_admin_url_rewrite_path(url_rewrite)) %></li>
    <li><%= link_to("Preview", url_rewrite.to, rel: "noopener", target: "_blank") %></li>
  <% end %>
<% end %>

<%= summary_table_with(model: url_rewrite) do |row| %>
  <% row.text :from %>
  <% row.text :to %>
  <% row.boolean :active %>
  <% row.enum :status_code %>
<% end %>
