<% content_for :title do %>
  <%= render "index_title" %>
<% end %>

<%- partial_with_wrapper do -%>
  <%- content_for :below_title do -%>
    <%= render partial: "index_below_title" -%>
  <%- end -%>
<%- end -%>

<%- partial_with_wrapper do -%>
  <%- content_for :title_actions do -%>
    <%= render partial: "index_title_actions" -%>
  <%- end -%>
<%- end -%>

<%- content_for :title_tabs do -%>
  <nav class="tabs--links" data-tabs data-tabs-deeplink>
    <ul>
      <li><a href="#tab-site-settings" data-tab="tab-site-settings" class="tabs--link">Site Settings</a></li>
      <%- if current_admin.god? -%>
        <li><a href="#tab-super" data-tab="tab-super" class="tabs--link">Configure</a></li>
      <%- end -%>
    </ul>
  </nav>
<%- end -%>

<div class="tabs--pane" id="tab-site-settings" data-tab-for="tab-site-settings">
  <div class="settings">
    <div id="index-fields">
      <%= simple_form_for :setting, url: koi_engine.update_multiple_settings_path, html: { multipart: true, method: :put } do |f| %>

        <div class="inputs form--enhanced">
          <%= render "koi/settings/settings_form", f: f, settings: collection %>

          <div class="form-action">
            <button class="button__confirm" name="commit" type="submit" value="Save" data-form-cleaner>Save</button>
          </div>
        </div>
      <%- end -%>
    </div>
  </div>
</div>


<%- if current_admin.god? -%>
  <div class="tabs--pane tabs--pane__flush spacing" id="tab-super" data-tab-for="tab-super">

    <div class="content-spacing">
      <p>Configuration of site settings, visible only to super admins.</p>
    </div>

    <div id="index-fields" class="table-container">
      <table class="table space-b-0">
        <thead>
          <tr>
            <% resource_class.admin_attributes(:index).each_with_index do |attr,i| %>
              <% label = raw t("simple_form.labels.#{resource_class.model_name.i18n_key}.#{attr}", default: attr.to_s.titleize) %>
              <% if is_sortable? %>
                <th class="sort-icon table__th__<%= label.parameterize -%>"><%= sortable attr.to_s, label, :class => "nohover" %></th>
              <% else %>
                <th class="table__th__<%= label.parameterize -%>"><%= label %></th>
              <% end %>
            <% end %>
            <th class="table__th__actions">Actions</th>
            <%- if is_orderable? -%>
              <th class="table__td__sorter">&nbsp;</th>
            <%- end -%>
          </tr>
        </thead>
        <%- if is_orderable? -%>
        <tbody id="sortable" class="">
        <%- else -%>
        <tbody>
        <%- end -%>
          <% collection.by_created.each_with_index do |object, i| %>
            <%- if is_orderable? -%>
            <tr id="<%= "#{singular_name}_#{object.id}" %>">
            <%- else -%>
            <tr>
            <%- end -%>
              <% resource_class.admin_attributes(:index).each_with_index do |attr,index| %>
                <td class="table__td__<%= attr -%>">
                  <span class="table--listing-span table__span__<%= attr -%>">
                    <%=
                    begin
                      render crud_partial(attr, :index), { :attr => attr, :object => object }
                    rescue ActionView::MissingTemplate
                      render "index_field_default", { :attr => attr, :object => object }
                    end
                    %>
                  </span>
                </td>
              <% end %>
              <td class="table__td__actions">
                <%= render "index_fields_action", { :object => object } %>
              </td>
              <% if is_orderable? %>
                <td class="table__td__sorter" data-table-sorter>
                  <div class="table--sorter--container">
                    <%= image_tag "koi/application/icon-sortable.png" %>
                  </div>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>

  </div>
<%- end -%>

<%= partial_with_wrapper do -%>
  <div class="listing--below-list">
    <%= render partial: "form_below" -%>
  </div>
<%- end -%>

<%= render "koi/shared/dirty_form_checker" -%>
