<%- content_for :title, "Sign in" -%>

<%= simple_form_for(resource, :as => resource_name, :url => koi_engine.new_admin_session_path, :html => { method: :post, class: "form-vertical" }) do |f| %>

  <div class="bg-lightgrey">
  
    <div class="inputs">

      <% if flash[:error] %>
        <p class="error"><%= flash[:error] %></p>
      <% end %>

      <% if flash[:alert] %>
        <p class="error"><%= flash[:alert] %></p>
      <% end %>

      <%= f.input :email, required: true, autofocus: true, input_html: { class: "w-510" } %>

      <%= f.input :password, required: true, input_html: { class: "w-510" } %>

      <%= f.input :remember_me, as: :boolean, wrapper: :checkbox, wrapper_html: { class: "checkbox__single" }, label: "Keep me logged in on this computer" if devise_mapping.rememberable? %>

    </div>
  </div>

  <div class="bg-mediumgrey">
    <%= f.button :button, "Sign in", class: "button__primary" %>
    <%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
      <%= link_to "Forgot your password?", koi_engine.new_admin_password_path, class: "button" %>
    <% end -%>
      <%#= render "devise/shared/links" %>
    </ul>
  </div>

<% end %>


