<% content_for :title, "Sign in" %>

<%= form_with model:   resource,
              scope:   resource_name,
              url:     koi_engine.new_admin_session_path,
              builder: Koi::FormBuilder do |form| %>

  <% %i[error alert].each do |key| %>
    <% if flash[key].present? %>
      <p class="error"><%= key %></p>
    <% end %>
  <% end %>

  <%= form.govuk_text_field :email %>
  <%= form.govuk_text_field :password %>

  <% if devise_mapping.rememberable? %>
    <%= form.govuk_check_box_field :remember_me, label: { text: "Keep me logged in on this computer" } %>
  <% end %>

  <div class="button-group">
    <%= form.govuk_submit "Sign in", class: "button__success" %>
    <% if devise_mapping.recoverable? && controller_name != "passwords" %>
      <%= link_to "Forgot your password?", koi_engine.new_admin_password_path, class: "button" %>
    <% end %>
  </div>
<% end %>
