<% selected = "color:#fb6900;" %>

<tr class="horizontal hoverable grey text button h-23px ln-h-23px txt-grey-80 <%= "bg-grey-e4" if i.even? %>" style="<%= selected if asset == resource %>">
  <td class="round-l-5px w-3 pad-l-u5">
    <%= link_to resource_path asset do %>
      <%= image_tag(asset.thumbnail(size: '16x16#'), width: 16, height: 16, class: "pad-t-4px") %>
    <% end %>
  </td>
  <td class="txt-bold pad-r-u5">
    <%= link_to resource_path asset do %>
      <%= asset.data_name %>
    <% end %>
  </td>
  <td class="round-r-5px pad-r-u5">
    <%= link_to resource_path asset do %>
      <%= date_d_Month_yyyy asset.created_at %>
    <% end %>
  </td>
</tr>

<tr><td colspan="3" class="h-2px"></td></tr>