<tr>
  <td>
    <%= link_to resource_path asset do %>
      <%= image_tag(asset.thumbnail(size: '16x16#'), width: 16, height: 16, class: "pad-t-4px") %>
    <% end %>
  </td>
  <td>
    <%= link_to resource_path asset do %>
      <%= asset.data_name %>
    <% end %>
  </td>
  <td>
    <%= link_to resource_path asset do %>
      <%= date_d_Month_yyyy asset.created_at %>
    <% end %>
  </td>
</tr>



<!-- ALEX: what is this for? -->
<!-- <tr><td colspan="3"></td></tr> -->
