<%= render layout: "koi/shared/inline_lightbox", locals: { inline_id: "asset-filters", title: "Filter" } do -%>
  <%= form_tag collection_path, :method => 'get' do %>
    <%= hidden_field_tag :direction, params[:direction], id: "search_direction" %>
    <%= hidden_field_tag :sort     , params[:sort]     , id: "search_sort"      %>
    <%= hidden_field_tag :per      , params[:per]      , id: "search_per"       %>
    <% unless params[:tags].blank? %>
      <% params[:tags].each do |tag| %><%= hidden_field_tag "tags[]", tag %><% end %>
    <% end %>

    <div class="panel--padding">
      <div class="inputs">

        <div class="control-group">
          <div class="control-label">
            <label for="search">Search</label>
          </div>
          <div class="controls">
            <div class="form-inline">
              <div class="form-inline--input">
                <input type="text" name="search" placeholder="Enter search criteria" value="<%= params[:search] %>" />
              </div>
              <%= content_tag :button, "Go", type: "submit", name: "commit", value: "Search", class: "button__primary form-inline--button" %>
            </div>
          </div>
        </div>

        <%- unless @all_tags.empty? -%>
          <div class="control-group">
            <div class="control-label">
              <label for="search">Tags</label>
            </div>
            <div class="controls">
              <ul>
                <li>
                  <%= link_to "All", { tags: nil }, class: "#{"active" if @tags.empty?}" %>
                </li>
                <% @all_tags.each do |tag| %>
                  <% selected = @tags.include? tag %>
                  <li>
                    <%= link_to tag.to_s, params.symbolize_keys.merge( tags: @tags.send( (selected ? :- : :+), [ tag ]) ), class: "#{"active" if selected}" %>
                  </li>
                <% end %>
              </ul>
            </div>
          </div>
        <%- end -%>

      </div>
    </div>
    <div class="panel--padding panel--padding-border">
      <div class="row__tight">
        <div class="col-1-2">
          <a href="#" class="button__confirm button__full">Filter</a>
        </div>
        <div class="col-1-2">
          <%= link_to "Reset", collection_path(params.symbolize_keys.merge search: nil), class: "button button__full" %>
        </div>
      </div>
    </div>
  <%- end -%>
<%- end -%>

<div class="listing--count">
  <div class="listing--count--items">
    <p><%= pluralize collection.size, resource_class.name %></p>
  </div>
</div>

<div class="listing--actions small">
  <div class="align-box-right">
    <%= link_to "Filter", "#asset-filters", class: "button__secondary", data: { lightbox: "" } -%>
    <%= link_to "Upload New #{ resource_class.name }", collection_path, class: "button__confirm" %>
  </div>
</div>
<div class="table-container">
  <table class="table table-striped table-condensed txt-grey font-12px">
    <thead>
      <tr>
        <th>
        </th>
        <th>
          <div>
            <%= sortable "data_name", "Name", style: "padding-right:15px;" %>
          </div>
        </th>
        <th>
          <%= sortable "created_at", "Uploaded", style: "padding-right:15px;" %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @assets.each_with_index do |asset, i| %>
        <% begin %>
          <tr>
            <td>
              <%= link_to resource_path asset, params.symbolize_keys do %>
                <%= image_tag(asset.thumbnail(size: '16x16#'), width: 16, height: 16, class: "pad-t-4px") %>
              <% end %>
            </td>
            <td>
              <%= link_to resource_path asset, params.symbolize_keys do %>
                <%= asset.data_name %>
              <% end %>
            </td>
            <td>
              <%= link_to resource_path asset, params.symbolize_keys do %>
                <%= date_d_Month_yyyy asset.created_at %>
              <% end %>
            </td>
          </tr>
        <% rescue Dragonfly::DataStorage::DataNotFound %>
        <% next %>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @assets -%>