<%= render layout: "koi/shared/inline_lightbox", locals: { inline_id: "asset-filters", title: "Filter", footer: capture { %>
  <div class="row__x-tight">
    <div class="col-1-2">
      <button class="button__confirm button__full" form="asset-filter">Filter</button>
    </div>
    <div class="col-1-2">
      <%= link_to "Reset", collection_path(search: nil, tags: nil, tag_list: nil), class: "button button__full" %>
    </div>
  </div>
<% } } do %>
  <%= form_tag collection_path, :method => 'get', id: "asset-filter" do %>
    <%= hidden_field_tag :direction, params[:direction], id: "search_direction" %>
    <%= hidden_field_tag :sort     , params[:sort]     , id: "search_sort"      %>
    <%= hidden_field_tag :per      , params[:per]      , id: "search_per"       %>

    <div class="panel--padding">
      <div class="inputs">

        <div class="control-group">
          <div class="control-label">
            <label for="search">Keyword Search</label>
          </div>
          <div class="controls">
            <input type="text" name="search" placeholder="Enter search criteria" value="<%= params[:search] %>" />
          </div>
        </div>

        <% unless @all_tags.empty? %>
          <div class="control-group radio_buttons">
            <div class="control-label">
              <label for="search">Tags</label>
            </div>
            <div class="controls">
              <% @all_tags.each do |tag| %>
                <% selected = @tags.include? tag %>
                <label class="radio">
                  <input type="checkbox" class="radio_buttons" <%= "checked" if selected %> name="tags[]" value="<%= tag %>"> <%= tag %>
                </label>
              <% end %>
            </div>
          </div>
        <% end %>

      </div>
    </div>
  <% end %>
<% end %>

<div class="listing--count">
  <div class="listing--count--items">
    <p><%= pluralize collection.size, resource_class.name %></p>
  </div>
</div>

<div class="listing--actions small">
  <div class="align-box-right button-group">
    <div>
      <%= link_to "Filter", "#asset-filters", class: "button__secondary button__small", data: { lightbox: "" } %>
    </div>
    <div>
      <%= link_to "Upload New #{ resource_class.name }", "#", class: "button__confirm button__small file-upload--browse-button" %>
    </div>
  </div>
</div>
<div class="table-container" data-turbo="false">
  <table class="table table-striped table-condensed txt-grey font-12px">
    <thead>
      <tr>
        <th>
        </th>
        <th>
          <div>
            <%= sortable "data_name", "Name", style: "padding-right:15px;" %>
          </div>
        </th>
        <th>
          <%= sortable "created_at", "Uploaded", style: "padding-right:15px;" %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @assets.each_with_index do |asset, i| %>
        <% begin %>
          <tr>
            <td class="table--image">
              <% if asset.class.name.eql?("Image") %>
                <%= link_to asset.data.thumb("800x600>").url, data: { lightbox: "image", lightbox_gallery: "" } do %>
                  <%= image_tag(asset.data.thumb("80x80>").url) %>
                <% end %>
              <% else %>
                <%= link_to resource_path asset do %>
                  <%= image_tag(document_thumbnail(asset, size: '80x80')) %>
                <% end %>
              <% end %>
            </td>
            <td>
              <%= link_to resource_path asset do %>
                <%= asset.data_name %>
              <% end %>
            </td>
            <td>
              <%= link_to resource_path asset do %>
                <%= date_d_Month_yyyy asset.created_at %>
              <% end %>
            </td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<%= paginate @assets, :theme => 'admin' %>
