<h4 class="heading-four">Upload New <%= resource_class.name %></h4>

<%= simple_form_for resource, html: { id: 'upload-form', class: 'simple_form', multipart: true } do |f| %>

    <div class="spacing-xxx-tight">

      <%= f.error_notification %>

      <div class="assets--upload--new">
        
        <div class="file-uploader">
          <input type="hidden" name="asset_hidden_field" />
          <input type="file" name="asset_files" 
                 data-asset-uploader 
                 data-file-for="asset_hidden_field" 
                 data-file-gallery 
                 data-file-types="" 
          />
        </div>

        <!--
          <p>Select file/s:</p>
          <div id="upload-files" class="file-list"></div>
          <%= f.button :button, "Add files...", class: "button__primary", id: 'upload-button-browse' %>
        -->
      </div>

      <div class="assets--upload--tags" style="display: none;">
        <%= f.input :tag_list, as: :text, label: "#{ resource.new_record? ? "Add" : "Edit" } tags:", input_html: { class: "tagify input__tight" }, label_html: { class: "" } %>
        <div>
          <div id="upload-button-upload" class="align-box-left">
            <%= f.button :button, "Upload", disabled: "disabled", class: "button" %>
          </div>
          <%= link_to "Cancel", collection_path, class: "button" %>
        </div>
      </div>
    </div>

  </div>

<% end %>

<%- content_for :scripts_bottom do -%>
  <script>
    $(document).on("ornament:refresh", function(){

      $("[data-asset-uploader]").each(function(){

        var $this = $(this);

        // Add file types from jsData on the page
        $this.attr("data-file-types", jsData.acceptedExtensions);

        // Initialise uploader
        $this.not(".file-upload__init").katFileUpload({
          uploadPath: jsData.createAssetUrl,
          assetType: jsData.assetType,
        }).addClass("file-upload__init");

        $this.on("uploader:gallery-item:after-upload", function(event, $uploader, thumbnail, assetId){
          var $successMessage = thumbnail.find("[data-file-gallery-item-success]");
          var $assetActions = $("<div class='asset--uploader--actions' />");
          var $editLink = $("<a href='" + assetId + "'>Edit <%= resource_class.name -%></a>");
          $assetActions.append($editLink);
          $successMessage.append($assetActions);
        });

      });
    });
  </script>
<%- end -%>
