<% host = request.url.match(/\w+:[\/]{2}[^\/]+/).to_s %>

<div class="asset--details">
  <h4 class="asset--filename"><%= resource.data.name %></h4>
  <div class="asset--thumbnail">
    <% if resource.is_a?(Document) %>
      <%= image_tag document_thumbnail(resource, size: '400x') %>
    <% else %>
      <%= link_to (image_tag resource.data.thumb('400x>').url), resource.url, data: { lightbox: "image" } %>
    <% end %>
    
  </div>
  <div class="asset--information compressed">
    <p>
      Size: <strong><%= number_to_human_size(resource.data.size) %></strong> <br />
      Uploaded: <strong><%= date_d_Month_yyyy resource.created_at %></strong> <br />
      Link: <strong><%= link_to "Right-click to Copy", resource.url, target: "_clipboard" %></strong> 
    </p>
  </div>
</div>

