<%= image_tag resource.thumbnail(size: '210x210'), class: "space-b-1" %>

<% host = request.url.match(/\w+:[\/]{2}[^\/]+/).to_s %>

<p class ="font-12px">
  Name: <b><%= resource.data.name.truncate(25) %></b> <br />
  Link: <b><%= link_to "Right-click to Copy", "#{ host }#{ resource.url }", target: "_clipboard" %></b> <br/>
  Size: <b><%= number_to_human_size(resource.data.size) %></b> <br />
  Uploaded: <b><%= date_d_Month_yyyy resource.created_at %></b>
</p>

