<div class ="pad-1 clearfix">
  <div class="pull-left space-l-1"><%= pluralize collection.size, resource_class.name %></div>

  <%= form_tag collection_path, :method => 'get', class: "simple_form form-inline pull-right" do %>

    <%= hidden_field_tag :direction, params[:direction], id: "search_direction" %>
    <%= hidden_field_tag :sort, params[:sort], id: "search_sort" %>
    <%= hidden_field_tag :per, params[:per], id: "search_per" %>
    <% unless params[:tags].blank? %>
      <% params[:tags].each do |tag| %>
        <%= hidden_field_tag "tags[]", tag %>
      <% end %>
    <% end %>
    <span>Search</span>

    <input type="text"
           name="search"
           placeholder="Enter search criteria"
           value="<%= params[:search] %>"
           class="w-20 " />


        <%= content_tag :button, "Go", type: "submit", name: "commit", value: "Search", class: "btn btn-primary btn-small" %>

        <%= link_to "Reset", collection_path(params.merge search: nil), class: "btn btn-small" %>

  <% end %>
</div>
