<%= render "koi/assets/listing" -%>

<%- content_for :side do -%>

    <%= render "preview" %>

    <div class="asset--form">
      <%= simple_form_for(resource, html: { id: 'upload-form', multipart: true }) do |f| %>

        <div class="inputs">
          <%= f.error_notification %>
          <%= f.input :tag_list, as: :text, label: "#{ resource.new_record? ? "Add" : "Edit" } tags:", input_html: { class: "tagify" }, label_html: { class: ""} %>
        </div>

        <div class="actions">
          <%= content_tag :button, "Save", type: "submit", name: "commit", value: "Continue", class: "button__save" %>
          <%= link_to "Cancel", collection_path, class: "button__cancel" %>
        </div>

      <% end %>
    </div>
    
  </div>

<%- end -%>
