<%= render 'js_data' %>
<%= render "tagify" %>

<% content_for :head, javascript_include_tag("koi/assets/new") %>

<header class="pad-1">
  <h4>Upload New <%= resource_class.name %></h4>
</header>

<section class="pad-1 space-b-1">

  <%= simple_form_for resource, html: { id: 'upload-form', class: 'simple_form', multipart: true } do |f| %>
    <%= f.error_notification %>

    <p>Select file/s:</p>

    <div id="upload-files"></div>

    <%= f.submit value: "Add files...", class: "btn btn-primary btn-small space-b-1", id: 'upload-button-browse' %>
  

    <%= f.input :tag_list, as: :text, label: "#{ resource.new_record? ? "Add" : "Edit" } tags:", input_html: { class: "tagify" }, label_html: { class: "" } %>

    <!-- <div class="h-2u5"></div> -->

    <div>
      <div id="upload-button-upload" class="pull-left space-r-1"><%= f.submit value: "Upload", disabled: "disabled", class: "btn btn-primary btn-small disabled" %></div>
      <%= link_to "Cancel", collection_path, class: "btn btn-small" %>
    </div>
  <% end %>

</section>
