<%= render "koi/assets/listing" %>

<% content_for :side do %>

  <%= render "preview" %>

  <% unless resource.tags.empty? %>
    <div class="asset--tags">
      <h3 class="asset--options--heading heading-six">Tags:</h3>
      <div class="button-group">
        <% resource.tags.each do |tag| %>
          <div>
            <span class="button__pill"><%= tag.name %></span>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>

  <form class="asset--form insert asset application">
    <div class="button-group">
      <div>
        <%= link_to "Edit tags", { action: :edit }, class: "button__primary" %>
      </div>
      <div>
        <%= link_to "Delete", resource_path, method: :delete, class: "button__error", data: { confirm: "Are you sure you want to delete this #{ resource_class.name.downcase }?" } %>
      </div>
    </div>
  </form>

<% end %>
