<% unless params[:CKEditorFuncNum].blank? %>
  <% js_data :ck_editor_func_num, params[:CKEditorFuncNum] %>
  <% content_for :head do %>
    <script type="text/javascript">
      $(function() {
        var CKEditorFuncNum = '#{}';

        $('.insert.asset.application').application (function ($insert) {
          var $link = $insert.component ('.insert.asset.link');

          $insert.find ('.option').each (function () {
            var $option = $ (this);
            var $radio = $option.find ('input[type=radio]');

            $radio.change (function () {
              $link.attr ('href', $radio.data ('href'));
            });
          });

          $link.click (function() {
            var href = $(this).attr ("href");
            try {
              window.opener.CKEDITOR.tools.callFunction (jsData.ckEditorFuncNum, href);
              window.close();
              return false;
            } catch (e) {}
          });

        });
      });
    </script>
  <% end %>
<% end %>

<header class="pad-1">
  <h4><%= resource_class.name %> Details</h4>
</header>

<section class="pad-1 font-12px">
  <%= render "preview" %>

  <% unless resource.tags.empty? %>
    <h6 class="space-t-1">Tags:</h6>

    <ul class="unmarked-list floated-l-list clearfix">
      <% resource.tags.each do |tag| %>
        <li class="space-r-1"><a><%= tag %></a></li>
      <% end %>
    </ul>
  <% end %>


  <div class="space-b-1">
    <%= link_to "Edit tags", { action: :edit }, class: "txt-grey" %>
  </div>

  <%= render "links" %>
</section>

<%# Maybe? %>
<%
=begin
%>
<script type="text/javascript">
  $(function() {
    var $all = $("#edit, #info");
    $all.each(function() {
      var $this = $(this);
      var $heading = $this.prev("h1, h2, h3, h4, h5, h6").first();
      var $toggle = $('<span class="small right" />');

      $this.data("show", function() {
        $this.show();
        $toggle.text("Hide");
      });

      $this.data("hide", function() {
        $this.hide();
        $toggle.text("Show");
      });

      $this.data("toggle", function() {
        if ($this.is(":visible")) {
          $this.data("hide")();
        } else {
          $this.data("show")();
        }
      });

      $this.data("hide")();

      $toggle.css({ lineHeight: $heading.css("line-height") });

      $heading.css({ cursor: 'pointer' }).hover(function() {
        $heading.add($toggle).css({ color: 'red' })
      }, function() {
        $heading.add($toggle).css({ color: 'black' })
      });

      $heading.append($toggle).click($this.data("toggle"));
    });

    $all.first().data("show")();
  });
</script>
<%
=end
%>
