<%= koi_modal_tag("edit", title: "New passkey") do %>
  <%= koi_modal_header(title: "New passkey", form_id: dom_id(admin.credentials.new, :form)) %>
  <main>
    <%= form_with(model: admin.credentials.new,
                  url:   admin_admin_user_credentials_path(admin),
                  id:    dom_id(admin.credentials.new, :form),
                  class: "flow prose",
                  data:  {
                    controller:                          "webauthn-registration",
                    action:                              "submit->webauthn-registration#submit",
                    webauthn_registration_options_value: { publicKey: options },
                  }) do |form| %>
      <%= form.hidden_field :response, data: { webauthn_registration_target: "response" } %>
      <section class="flow prose" data-webauthn-registration-target="intro">
        <p>
          Passkeys are secure secrets that are stored by your device.
          You will need the device where your passkey is stored to log in.
        </p>
        <p>
          Unlike a password, your password doesn't get sent to the server when you log
          in and can't be stolen in a data breach. When you log in with a passkey,
          your operating system will prompt you for permission to use the passkey
          secret to authenticate the login attempt.
        </p>
        <p>
          We recommend that you store your passkey on your phone or cloud account.
          Depending on your browser, you may need to choose "more options" to see
          a QR code that you can scan with your phone.
        </p>
      </section>
      <section class="flow" data-webauthn-registration-target="nickname" hidden>
        <%= form.govuk_text_field :nickname, label: { text: "Passkey name" } do %>
          Enter a name for this passkey to help you distinguish it from other passkeys you may have for this site.
          <br>
          Example: My Phone, Chrome, iCloud, 1Password
        <% end %>
      </section>
    <% end %>
  </main>
  <%= koi_modal_footer("Next", nil, form_id: dom_id(admin.credentials.new, :form)) %>
<% end %>
