<%# locals: (credential:) %>

<% content_for(:header) do %>
  <%= breadcrumb_list do %>
    <li><%= link_to(credential.admin, admin_profile_path) %></li>
  <% end %>

  <h1>Passkey</h1>

  <%= actions_list do %>
    <li><%= link_to_delete(credential, url: admin_credential_path(credential)) %></li>
  <% end %>
<% end %>

<%= form_with(model: credential, url: admin_credential_path(credential)) do |form| %>
  <%= form.govuk_text_field(:nickname) %>

  <%= form.button(type: :submit, class: "button") %>
<% end %>
