<li class="sp-b-1">
  <%= f.label(attr) %>
  <div class="as-clr">
    <% unless resource.send(attr).nil? || resource.new_record? %>
      <%= image_tag resource.send(attr).thumb('100x100#').url, :size => "100x100", :class => 'imgfix left sp-r-1' %>
    <% end %>
    <ol class="left unmarked-list">
      <li>
        <label>
          <%= f.radio_button("remove_#{attr}", false, :checked => true) %>
          <% if resource.send(attr).nil? || resource.new_record? %>
            No image
          <% else %>
            Keep this image
          <% end %>
        </label>
      </li>
      <% unless resource.send(attr).nil? || resource.new_record? %>
        <li>
          <label>
            <%= f.radio_button("remove_#{attr}", true) %>
            Delete this image
          </label>
        </li>
      <% end %>
      <li>
        <label>
          <%= f.radio_button("remove_#{attr}", false) %>
          Upload a new image
        </label>
        <div class="h-1"></div>
        <%= f.file_field(attr) %>
      </li>
    </ol>
  </div>
  <%= f.error(attr) %>
  <%= f.hint(attr) %>
</li>

