<%= form_with model: item, scope: :item, url: path, builder: Koi::FormBuilder do |form| %>
  <%= form.hidden_field :type %>
  <%= form.govuk_text_field :title %>

  <%= form.govuk_check_box_field :visible, label: { text: "Visible?" } %>

  <div class="actions">
    <%= form.admin_save "Done" %>
    <%= form.admin_discard %>
  </div>
<% end %>
