<%= form_with model: item, scope: :item, url: path, builder: Koi::FormBuilder do |form| %>
  <%= form.hidden_field :type %>
  <%= form.govuk_text_field :title %>

  <%= form.govuk_check_box_field :visible, label: { text: "Visible? "} %>

  <div class="govuk-button-group">
    <%= form.govuk_submit "Done" %>
    <%= link_to "Discard", katalyst_navigation.menu_path(item.menu), class:"govuk-link" %>
  </div>
<% end %>
