<%- 
  id ||= "example"
  ruby ||= false
  scss ||= false
  js ||= false
  no_preview ||= false
  no_html ||= false
-%>

<div class="tabs sg-feature" data-styleguide-feature>
  <nav class="tabs--links" data-tabs>
    <ul>
      <%- unless no_preview -%>
        <li><a href="#<%= id -%>__preview" class="tabs--link" data-tab="<%= id -%>__preview">Preview</a></li>
      <%- end -%>
      <%- unless no_html -%>
        <li><a href="#<%= id -%>__source" class="tabs--link" data-tab="<%= id -%>__source">HTML</a></li>
      <%- end -%>
      <%- if ruby -%>
        <li><a href="#<%= id -%>__ruby" class="tabs--link" data-tab="<%= id -%>__ruby">Ruby</a></li>
      <%- end -%>
      <%- if scss -%>
        <li><a href="#<%= id -%>__scss" class="tabs--link" data-tab="<%= id -%>__scss">SCSS</a></li>
      <%- end -%>
      <%- if js -%>
        <li><a href="#<%= id -%>__js" class="tabs--link" data-tab="<%= id -%>__js">JS</a></li>
      <%- end -%>
    </ul>
  </nav>
  <div class="tabs--panes">
    <%- unless no_preview -%>
      <div class="tabs--pane" data-tab-for="<%= id -%>__preview">
        <%= yield -%>
      </div>
    <%- end -%>
    <%- unless no_html -%>
      <div class="tabs--pane tabs--pane__flush" data-tab-for="<%= id -%>__source" data-styleguide-code-sample>
        <pre class="code prettyprint"><%= render_source(yield) -%></pre>
      </div>
    <%- end -%>
    <%- if ruby -%>
      <div class="tabs--pane tabs--pane__flush" data-tab-for="<%= id -%>__ruby" data-styleguide-code-sample>
        <pre class="code prettyprint"><%= raw(ruby) -%></pre>
      </div>
    <%- end -%>
    <%- if scss -%>
      <div class="tabs--pane tabs--pane__flush" data-tab-for="<%= id -%>__scss" data-styleguide-code-sample>
        <pre class="code prettyprint"><%= raw(scss) -%></pre>
      </div>
    <%- end -%>
    <%- if js -%>
      <div class="tabs--pane tabs--pane__flush" data-tab-for="<%= id -%>__js" data-styleguide-code-sample>
        <pre class="code prettyprint"><%= render_source(js) -%></pre>
      </div>
    <%- end -%>
  </div>
</div>