<% content_for :title, "Koi Styleguide: Buttons" %>

<% content_for :side do %>
  <%= render "sidebar" %>
<% end %>

<div class="spacing">

  <div class="content-spacing">
    <h2 class="heading-two">Buttons</h2>
    <p>These are the currently available button classes available in Koi:</p>
  </div>

  <%= render layout: "koi/styleguide/feature", locals: { id: "button" } do %>
<div class="spacing-xxxxx-tight">
  <div><a href="#" class="button">button</a></div>
  <div><a href="#" class="button__back">button__back</a></div>
  <div><a href="#" class="button__primary">button__primary</a></div>
  <div><a href="#" class="button__save-continue">button__save-continue</a></div>
  <div><a href="#" class="button__save">button__save</a></div>
  <div><a href="#" class="button__confirm">button__confirm</a></div>
  <div><a href="#" class="button__error">button__error</a></div>
  <div><a href="#" class="button__cancel">button__cancel</a></div>
</div>
  <% end %>

  <hr />

  <div class="content-spacing">
    <h2 class="heading-two">Line (Outline) Buttons</h2>
    <p>There are line button clases as well, but rarely used:</p>
  </div>

  <%= render layout: "koi/styleguide/feature", locals: { id: "button-line" } do %>
<div class="spacing-xxxxx-tight">
  <div><a href="#" class="button__line">button__line</a></div>
  <div><a href="#" class="button--outline">button--outine</a></div>
  <div><a href="#" class="button__confirm__line">button__confirm__line</a></div>
  <div><a href="#" class="button--confirm--outline">button--confirm--outline</a></div>
  <div><a href="#" class="button__cancel__line">button__cancel__line</a></div>
  <div><a href="#" class="button--cancel--outline">button--cancnel--outline</a></div>
</div>
  <% end %>

  <hr />

  <div class="content-spacing">
    <h2 class="heading-two">Text buttons</h2>
    <p>Link style butons:</p>
  </div>

  <%= render layout: "koi/styleguide/feature", locals: { id: "button--text" } do %>
    <div class="spacing-xxx-tight">
      <div><a href="#" class="button--text">button--text</a></div>
    </div>
  <% end %>

  <hr />

  <div class="content-spacing">
    <h2 class="heading-two">Pills</h2>
    <p>Non-interactive butons:</p>
  </div>

  <%= render layout: "koi/styleguide/feature", locals: { id: "button-pill" } do %>
<div class="spacing-xxx-tight">
  <div><span class="button__pill">button__pill</span></div>
  <div><span class="button__pill__confirm">button__pill__confirm</span></div>
  <div><span class="button__pill__error">button__pill__error</span></div>
  <div><span class="button__pill__warning">button__pill__warning</span></div>
</div>
  <% end %>

  <hr />

  <div class="content-spacing">
    <h2 class="heading-two">Badges</h2>
    <p>Badges are small rounded buttons that can appear next to text and should be used to represent a count of something.</p>
    <p>They can appear as just plain text, seperate links, as part of a link, or as part of a button:</p>
  </div>

  <%= render layout: "koi/styleguide/feature", locals: { id: "button-badge" } do %>
<div class="spacing-xxxxx-tight">
  <div>
    <span>Current visitors</span>
    <span class="button__badge">2</span>
  </div>
  <div>
    <span>News articles: <a href="#" class="button__badge__success">15</a></span>
  </div>
  <div>
    <span>Unprocessed orders: <a href="#" class="button__badge__error">8</a></span>
  </div>
  <div>
    <a href="#">
      <span>News articles</span>
      <span class="button__badge__warning">150</span>
    </a>
  </div>
  <div>
    <a href="#" class="button">
      <span>News articles</span>
      <span class="button__badge__white">10</span>
    </a>
  </div>
  <div>
    <a href="#" class="button__primary">
      <span>News articles</span>
      <span class="button__badge__white">10</span>
    </a>
  </div>
</div>
  <% end %>

  <hr />

  <div class="content-spacing">
    <h2 class="heading-two">Modifiers</h2>
    <p>There are a couple of button modifier classes:</p>
  </div>

  <%= render layout: "koi/styleguide/feature", locals: { id: "button-modifiers" } do %>
<div class="spacing-xxx-tight">
  <div><a href="#" class="button__primary button__large">button__large</a></div>
  <div><a href="#" class="button__primary button__small">button__small</a></div>
  <div><a href="#" class="button__primary button__depressed">button__depressed</a></div>
  <div><a href="#" class="button__primary button__full">button__full</a></div>
  <div><a href="#" class="button__primary button__disabled">button__disabled</a></div>
</div>
  <% end %>

  <p>The disabled button styles also automatically apply to buttons that have the <code>disabled</code> attribute, no extra classes needed:</p>

  <%= render layout: "koi/styleguide/feature", locals: { id: "button-disabled" } do %>
<div class="spacing-xxx-tight">
  <div><a href="#" class="button__primary" disabled>disabled button</a></div>
</div>
  <% end %>

  <hr />

  <div class="content-spacing">
    <h2 class="heading-two">Icons</h2>
    <p>You can use <code>button__icon-left</code> or <code>button__icon-right</code> class to use an icon in a button:</p>
  </div>

  <%= render layout: "koi/styleguide/feature", locals: { id: "button-icons-labeled" } do %>
<button class="button__icon-left button__primary"><%= icon("comment") %> Comment</button>
<button class="button__icon-right button__primary"><%= icon("link") %> Link</button>
  <% end %>

  <p>Or you can use <code>button__icon</code> to have a button with just an icon in it:</p>

  <%= render layout: "koi/styleguide/feature", locals: { id: "button-icons" } do %>
<div>
  <button class="button__icon button__primary"><%= icon("heart") %></button>
  <button class="button__icon button__save"><%= icon("zoom_in") %></button>
  <button class="button__icon button__error"><%= icon("home") %></button>
  <button class="button__icon button__primary" disabled><%= icon("spinner") %></button>
</div>
  <% end %>

  <hr />

  <div class="content-spacing">
    <h2 class="heading-two">Button Grouping</h2>
    <p>The <code>button-group</code> class will create consistent spacing no matter how large or small the area for the buttons are. Note as you make your window smaller the spacing around the buttons stays the same:</p>
  </div>

  <%= render layout: "koi/styleguide/feature", locals: { id: "button-group" } do %>
<div class="button-group">
  <div><a href="#" class="button__primary">Button</a></div>
  <div><a href="#" class="button__secondary">Button</a></div>
  <div><a href="#" class="button__primary">Button</a></div>
  <div><a href="#" class="button__primary">Button</a></div>
  <div><a href="#" class="button__primary">Button</a></div>
  <div><a href="#" class="button__confirm">Button</a></div>
  <div><a href="#" class="button__primary">Button</a></div>
</div>
  <% end %>

</div>
