<% content_for :title, "Koi Styleguide: Forms" %>
<% content_for :form_class, "ornament-form" %>

<% content_for :side do %>
  <%= render "sidebar" %>
<% end %>

<div class="spacing-xxx-tight">

  <div class="content-spacing">
    <h2 class="heading-two">Sizing fields</h2>
    <p>Field widths can be set by using the classes: <code>form--x-small</code>, <code>form--small</code>, <code>form--medium</code> and <code>form--large</code></p>
  </div>

  <%= render layout: "koi/styleguide/feature", locals: { id: "form-widths" } do %>
<div class="inputs">
  <div class="control-group">
    <label class="control-label">Form field:</label>
    <div class="controls">
      <input type="text" class="form--x-small" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Form field:</label>
    <div class="controls">
      <input type="text" class="form--small" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Form field:</label>
    <div class="controls">
      <input type="text" class="form--medium" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Form field:</label>
    <div class="controls">
      <input type="text" class="form--large" />
    </div>
  </div>
</div>
  <% end %>

  <div class="content-spacing">
    <p>You can alternatively use <code>form--auto</code> to set <code>select</code> elements to the width of the largest option:</p>
  </div>

  <%= render layout: "koi/styleguide/feature", locals: { id: "form-auto-width" } do %>
<div class="inputs">
  <div class="control-group">
    <label class="control-label">Form field:</label>
    <div class="controls">
      <select class="form--auto">
        <option>Some</option>
        <option>Short</option>
        <option>Options</option>
      </select>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Form field:</label>
    <div class="controls">
      <select class="form--auto">
        <option>Some</option>
        <option>More</option>
        <option>Options</option>
        <option>With one really long option</option>
      </select>
    </div>
  </div>
</div>
  <% end %>

  <div class="content-spacing">
    <p>There is also <code>form--tight</code> for inputs for a shorter height:</p>
  </div>

  <%= render layout: "koi/styleguide/feature", locals: { id: "form-tight" } do %>
<div class="inputs">
  <div class="control-group">
    <label class="control-label">Form field:</label>
    <div class="controls">
      <input type="text" class="form--medium form--tight" />
    </div>
  </div>
</div>
  <% end %>

  <hr />
  
  <div class="content-spacing">
    <h2 class="heading-two">Spacing out inputs</h2>
    <p>Space out form field elements by putting them in a wrapper with the <code>inputs</code> class:</p>
  </div>

  <%= render layout: "koi/styleguide/feature", locals: { id: "form-spacing" } do %>
<div class="inputs">
  <div class="control-group">
    <label class="control-label">Form field:</label>
    <div class="controls">
      <input type="text" class="form--medium" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Form field:</label>
    <div class="controls">
      <input type="text" class="form--medium" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Form field:</label>
    <div class="controls">
      <input type="text" class="form--medium" />
    </div>
  </div>
</div>
  <% end %>

  <hr />

  <h2 class="heading-two">Gridded fields</h2>

  <p>You can use the grid system to lay fields next to each other:</p>

  <%= render layout: "koi/styleguide/feature", locals: { id: "form-sibling" } do %>
<div class="row">
  <div class="col-1-2 col-1-1m">
    <div class="control-group">
      <label class="optional control-label">Month</label>
      <div class="controls">
        <select>
          <%
            months = {
              "1 - January" => 1,
              "2 - February" => 2,
              "3 - March" => 3,
              "4 - April" => 4,
              "5 - May" => 5,
              "6 - June" => 6,
              "7 - July" => 7,
              "8 - August" => 8,
              "9 - September" => 9,
              "10 - October" => 10,
              "11 - November" => 11,
              "12 - December" => 12
            }
          %>
          <% months.each do |month,value| %>
            <option value="<%= value %>"><%= month %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
  <div class="col-1-2 col-1-1m">
    <div class="control-group">
      <label class="optional control-label">Year</label>
      <div class="controls">
        <select>
          <% (Time.current.year..Time.current.year+10).each do |year| %>
            <option value="<%= year %>"><%= year %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
</div>
  <% end %>

  <p>These can be controlled with the form sizing classes above.</p>

<%= render layout: "koi/styleguide/feature", locals: { id: "form-sibling-small" } do %>
<div class="row">
  <div class="col-1-3 col-1-1m">
    <div class="control-group">
      <label class="optional control-label">Month</label>
      <div class="controls">
        <select>
          <%
            months = {
              "1 - January" => 1,
              "2 - February" => 2,
              "3 - March" => 3,
              "4 - April" => 4,
              "5 - May" => 5,
              "6 - June" => 6,
              "7 - July" => 7,
              "8 - August" => 8,
              "9 - September" => 9,
              "10 - October" => 10,
              "11 - November" => 11,
              "12 - December" => 12
            }
          %>
          <% months.each do |month,value| %>
            <option value="<%= value %>"><%= month %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
  <div class="col-1-4 col-1-1m">
    <div class="control-group">
      <label class="optional control-label">Year</label>
      <div class="controls">
        <select>
          <% (Time.current.year..Time.current.year+10).each do |year| %>
            <option value="<%= year %>"><%= year %></option>
          <% end %>
        </select>
      </div>
    </div>
  </div>
</div>
  <% end %>

  <hr />

  <div class="content-spacing">
    <h2 class="heading-two">Datepickers</h2>
    <p>Datepickers are added to any field with the class of <code>datepicker</code>:</p>
  </div>

  <%= render layout: "koi/styleguide/feature", locals: { id: "form-date" } do %>
<div class="inputs">
  <div class="control-group">
    <label class="control-label">Form field:</label>
    <div class="controls">
      <input type="text" class="form--medium datepicker" />
    </div>
  </div>
</div>
  <% end %>

  <div class="content-spacing">
    <p>Time settings can be added by using the <code>datetimepicker</code> class instead:</p>
  </div>

  <%= render layout: "koi/styleguide/feature", locals: { id: "form-datetime" } do %>
<div class="inputs">
  <div class="control-group">
    <label class="control-label">Form field:</label>
    <div class="controls">
      <input type="text" class="form--medium datetimepicker" />
    </div>
  </div>
</div>
  <% end %>

  <p>You can control the datepicker behaviour by passing in data attributes:</p>

  <%= render layout: "koi/styleguide/feature", locals: { id: "form-date-custom" } do %>
<div class="inputs">
  <div class="control-group">
    <label class="control-label">No past dates:</label>
    <div class="controls">
      <input type="text" class="form--medium datepicker" data-datepicker-mindate="0" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">No future dates:</label>
    <div class="controls">
      <input type="text" class="form--medium datepicker" data-datepicker-maxdate="0" />
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Custom date format:</label>
    <div class="controls">
      <input type="text" class="form--medium datepicker" data-datepicker-dateformat="D, M d yy" />
    </div>
  </div>
</div>
  <% end %>

  <hr />

  <div class="content-spacing">
    <h2 class="heading-two">Password Revealer</h2>
    <p>Add a password revealer to password fields by adding the <code>data-password-reveal</code> attribute to your input.</p>
  </div>

  <%= render layout: "koi/styleguide/feature", locals: { id: "form-password" } do %>
<div class="inputs">
  <div class="control-group form--medium">
    <label class="control-label">Form field:</label>
    <div class="controls">
      <input type="password" value="mysupersecretpassword" data-password-reveal />
    </div>
  </div>
</div>
  <% end %>

</div>
