<%- content_for :title, "Koi Styleguide: Icons" -%>

<%- content_for :side do -%>
  <%= render "sidebar" -%>
<%- end -%>

<div class="spacing">

  <div class="content-spacing">
    <h2 class="heading-two">Icon Helper</h2>
    <p>Koi comes with a few icons out of the box that you can take advantage of using the icon helper.</p>
    <p><code>&lt;%= icon("icon_partial_name", options) -%></code></p>
  </div>

  <hr />
  <div class="content-spacing">
    <h2 class="heading-two">Sizing Icons</h2>
    <p>You can size the icons by passing in a width and height:</p>
  </div>
  <div>
    <%= icon("image", width: 16, height: 16) -%><br />
    <code>icon("image", width: 16, height: 16)</code>
  </div>
  <div>
    <%= icon("image", width: 24, height: 24) -%><br />
    <code>icon("image", width: 24, height: 24)</code>
  </div>
  <div>
    <%= icon("image", width: 32, height: 32) -%><br />
    <code>icon("image", width: 32, height: 32)</code>
  </div>
  <div>
    <%= icon("image", width: 64, height: 64) -%><br />
    <code>icon("image", width: 64, height: 64)</code>
  </div>

  <hr />
  <div class="content-spacing">
    <h2 class="heading-two">Colouring Icons</h2>
    <p>Passing in a <code>fill</code> option in to the icon helper will update the fill with a hex value.</p>
    <p>This can be helpful sometimes, but the preferred method of colouring is via CSS.</p>
  </div>
  <div>
    <%= icon("image", fill: "#BADA55") -%><br />
    <code>icon("image", fill: "#BADA55")</code>
  </div>
  <div>
    <%= icon("image", fill: "red") -%><br />
    <code>icon("image", fill: "red")</code>
  </div>

  <hr />
  <div class="content-spacing">
    <h2 class="heading-two">Packaged Icons</h2>
    <p>This version of koi comes with the following packaged icons:</p>
  </div>

  <%- icons = [
    "chevron",
    "cog_filled",
    "key",
    "menu",
    "alias",
    "planet",
    "planet_filled",
    "refresh",
    "home",
    "image",
    "images",
    "bullhorn",
    "connection",
    "file",
    "files",
    "file_text",
    "stack",
    "folder",
    "tag",
    "tags",
    "cart",
    "location",
    "map",
    "clock",
    "download",
    "upload",
    "disk",
    "database",
    "comment",
    "comments",
    "search",
    "zoom_in",
    "zoom_out",
    "attachment",
    "visible",
    "hidden",
    "link",
    "filter",
    "star_empty",
    "star",
    "heart",
    "plus",
    "plus_thin",
    "minus",
    "circle_info",
    "circle_cancel",
    "cross",
    "close",
    "tick",
    "circle_up",
    "circle_right",
    "circle_down",
    "circle_left",
    "share",
    "google",
    "facebook",
    "instagram",
    "twitter",
    "youtube",
    "linkedin"
  ] -%>

  <div class="icon-table row">
    <%- icons.each do |icon_label| -%>
      <div class="col-1-3">
        <div class="icon-table--item">
          <div class="icon-table--icon">
            <%= icon(icon_label) -%>
          </div>
          <div class="icon-table--details">
            icon("<%= icon_label -%>")
          </div>
        </div>
      </div>
    <%- end -%>
  </div>

</div>

<style>
  .icon-table--item {
    border: 1px solid #ccc;
  }
  .icon-table--icon {
    padding: 10px;
    text-align: center;
  }
  .icon-table--details {
    border-top: 1px solid #ccc;
    padding: 10px;
    text-align: center;
  }
  .icon-table--details code {
    display: block;
  }
</style>