<% if params[:CKEditor] %>
  <div class="asset--options">

    <h3 class="asset--options--heading heading-six">Sizes Available:</h3>

    <ul>
      <li>
        <input type="radio" name="asset[width]" id="asset[width][0]" value="<%= resource.width %>" checked />
        <label for="asset[width][0]"><%= resource.title_options %> (Original)</label>
      </li>
      <% Koi::KoiAsset::Image.sizes.each_with_index do |opt, i| %><% i += 1 %>
        <li>
          <input type="radio" name="asset[width]" id="asset[width][<%= i %>]" value="<%= opt[:width] %>" />
          <label for="asset[width][<%= i %>]"><%= opt[:title] %></label>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>

<input type="hidden" name="asset[id]" value="<%= resource.id %>">
