<% unless Translation.find_by_key('site.show.dashboard.analytics').try(:value).eql?("true") %>
  <p>Please set your google anlytics credentials <%= link_to "here", translations_path %></p>
<% else %>
  <div class="row">
    <div class="span17"><h2><small>Site traffic from 22 February 2012 to 10 May 2012</small></h2></div>
  </div>

  <div class="row space-b-2">
    <% Report.analytics.destroy if params[:analytics].eql?("true") %>
    <% report = Report.analytics %>
    <% Report.metrics.elements.each do |metric| %>
      <% value  = report.send("#{metric}") %>
      <% value  = value.round(2) if value.kind_of?(Float) %>
      <% change = report.send("#{metric}_diff") %>
      <% change_text = change > 0 ? "increase" : "decrease" %>
      <div class="widget span4">
        <div class="widget-header"><%= metric.to_s.humanize.capitalize %></div>
        <div class="widget-body"><%= value %></div>
        <div class="widget-footer widget-footer-<%= change_text %>"><%= change.abs %>% <%= change_text %></div>
      </div>
    <% end %>
  </div>

  <div class="row  space-b-2">
    <div class="span14"><i class="icon-refresh"></i> <strong><%= link_to "Refresh data", "?analytics=true" %></strong></div>
    <div class="3"><i class="icon-signal"></i> <strong><a href="http://www.google.com/analytics/" target="_blank">Full analytics</a></strong></div>
  </div>
<% end %>
