<% content_for :title, 'Dashboard' %>

<%- 
  widgets = [{
    title: "Weekly pageviews",
    type: "chart",
    size: "Small",
    chart: {
      type: "line",
      labels: ['5', '4', '3', '2', '1'],
      series: [
        [1000, 1050, 1280, 1100, 1250]
      ],
      series_labels: ["Pageviews"], 
      show_variances: true,
      settings: {
        simple: true
      },
      chart: {
        showArea: true,
        low: 0
      }
    }
  },{
    title: "Subscribers",
    type: "chart",
    size: "Small",
    chart: {
      type: "bar",
      labels: ['5', '4', '3', '2', '1'],
      series: [
        [12500,12520,12800,12820,12700]
      ],
      series_labels: ["Subscribers"], 
      show_variances: true,
      settings: {
        simple: false
      },
      chart: {
        showArea: true
      }
    }
  },{
    title: "Latest Unfilled Orders",
    type: "list",
    size: "Large",
    list: [{
      label: "Item 1",
      actions: {
        "View": "#"
      }
    },{
      label: "Item 2",
      actions: {
        "View": "#"
      }
    }]
  }]
-%>

<div class="row flipppable-cards">
  <%- widgets.each_with_index do |widget,index| -%>
    <%- 
      type = widget[:type]
      className = "col-1-1"
      if widget[:size].eql?("Small")
        className = "col-1-3 col-1-1m"
      elsif widget[:size].eql?("Medium")
        className = "col-1-2 col-1-1m"
      end
    -%>
    <div class="<%= className -%>">
      <div class="card card__widget-<%= type.parameterize -%>" data-card>
        <div class="card--sides">
          <div class="card--front" data-card-front>
            <div class="card--heading">
              <div class="card--heading--label">
                <%= widget[:title] -%>
              </div>
              <div class="card--heading--icon">
                <a href="#" data-card-toggle>
                  <%= icon("cog_filled") -%>
                </a>
              </div>
            </div>
            <div class="card--body">
              <%= 
                begin 
                  render("/koi/application/dashboard_widgets/#{type}", widget: widget, index: index) 
                rescue ActionView::MissingTemplate
                  render("/koi/application/dashboard_widgets/unknown_widget_type")
                end
              -%>
            </div>
            <%- if widget[:footer] -%>
              <div class="card--footer">
                <%= widget[:footer] -%>
              </div>
            <%- end -%>
          </div>
          <div class="card--back" data-card-back>
            <div class="card--heading">
              <div class="card--heading--label">
                <%= widget[:title] -%>
              </div>
            </div>
            <div class="card--body">
              <div class="card--body--section">
                <div class="inputs">
                  <div class="control-group check_boxes optional super_hero_powers form--enhanced">
                    <label class="control-label">Widget Title</label>
                    <div class="controls">
                      <input type="text" value="<%= widget[:title] -%>" />
                    </div>
                  </div>
                  <div class="control-group check_boxes optional super_hero_powers form--enhanced">
                    <label class="control-label">Size</label>
                    <div class="controls">
                      <%- size_options = ["Small", "Medium", "Large"] -%>
                      <%- size_options.each do |size| -%>
                        <span class="radio">
                          <label>
                            <input class="check_boxes required" id="size_<%= size.downcase -%>" type="radio" name="<%= index -%>_size" value="true" <%= "checked" if size.eql?(widget[:size]) -%>>
                            <%= size -%>
                          </label>
                        </span>
                      <%- end -%>
                    </div>
                  </div>
                </div>
              </div>
              <%= 
                begin 
                  render("/koi/application/dashboard_widgets/#{type}_options", widget: widget, index: index) 
                rescue ActionView::MissingTemplate
                  nil
                end
              -%>
              <div class="card--body--section">
                <div class="button-group">
                  <div>
                    <button class="button__success" data-card-toggle>Save</button>
                  </div>
                  <div>
                    <button class="button__cancel" data-card-toggle>Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%- end -%>
</div>

<style>
  .dashboard--dates--container {
    margin-bottom: 20px;
  }
  .dashboard--dates {
    display: flex;
    margin: -10px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .dashboard--dates--submit {
    padding: 10px;
    display: flex;
    align-items: flex-end;
  }
  .dashboard--dates--field {
    padding: 10px;
  }
  .twitter-list--item + .twitter-list--item {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #ccc;
  }
  .twitter-list--item .user a {
    overflow: hidden;
  }
  .twitter-list--item .user a > span {
    display: block;
  }
  .twitter-list--item .user a > span[data-scribe='element:verified_badge'] {
    display: none;
  }
  .twitter-list--item .user a > span:first-child {
    width: 20px;
    float: left;
    margin-right: 8px;
    margin-top: 4px;
  }
</style>