<% content_for :title, 'Dashboard' %>

<%#= render 'google_analytics' rescue nil %>
<%#= render 'twitter_feed' %>
<%#= render 'reports' %>

<%- 

  # Build up our API configs
  apis = {}
  apis[:google_analytics_token] = GoogleAnalytics.get_access_token if defined?(GoogleAnalytics)

  # Build up our widgets
  widgets = [{
    title: "Weekly page views (GA)",
    footer: "This is a footer message",
    type: "google_analytics",
    size: "Small",
    google_analytics: {
      type: "KoiLineChart",
      query: {
        dimensions: "ga:yearWeek",
        metrics: "ga:pageviews",
        sort: "ga:yearWeek"
      },
      settings: {
        simple: true
      },
      chart: {
        showArea: true,
        low: 0
      }
    }
  },{
    title: "Test alert",
    type: "message",
    size: "Small",
    message: {
      className: "error",
      body: "This is a custom alert"
    }
  },{
    title: "This will never load",
    footer: "Isn't the wait exciting, though?",
    type: "loading",
    size: "Small"
  },{
    title: "Monthly Orders",
    type: "chart",
    size: "Medium",
    chart: {
      type: "line",
      labels: ['Jan', 'Feb', 'Mar', 'Apr', 'May'],
      series: [
        [1, 5, 2, 10, 15],
        [1, 3, 4, 10, 6]
      ],
      series_labels: ["Orders", "Returns"], 
      show_variances: true,
      settings: {
        simple: false
      },
      chart: {
        showArea: true,
        low: 0
      }
    }
  },{
    title: "Donate Clicks This Month",
    type: "chart",
    size: "Medium",
    chart: {
      type: "bar",
      labels: ['Header', 'Footer', 'Mobile'],
      series: [
        [10, 15, 14]
      ],
      series_labels: ["Clicks"], 
      settings: {
        simple: false
      },
      chart: {
        low: 0
      }
    }
  },{
    title: "Twitter Feed",
    type: "twitter",
    size: "Medium",
    twitter: {
      id: "389900838295965696",
      maxTweets: 4,
      enableLinks: true,
      showUser: true,
      showTime: true,
      dateFunction: '',
      showRetweet: true
    }
  },{
    title: "This has failed",
    type: "errored",
    size: "Small",
    error_message: "This is a sample error message"
  }]
-%>

<%= GoogleAnalytics.setup if apis[:google_analytics_token] -%>
<%# Other API setups here if required %>

<%- content_for :above_layout do -%>
  <div class="panel panel__passive" style="padding-top: 20px; padding-bottom: 20px; margin-top: -32px; margin-bottom: 32px;">
    <div class="layout--container">
      <div class="dashboard--dates">
        <div class="dashboard--dates--field control-group">
          <label class="control-label">Start date:</label>
          <div class="controls">
            <input type="date" name="start_date" />
          </div>
        </div>
        <div class="dashboard--dates--field control-group">
          <label class="control-label">End date:</label>
          <div class="controls">
            <input type="date" name="end_date" />
          </div>
        </div>
        <div class="dashboard--dates--submit">
          <button class="button button__large">Submit</button>
        </div>
      </div>
    </div>
  </div>
<%- end -%>

<div class="row flipppable-cards">
  <%- widgets.each_with_index do |widget,index| -%>
    <%- 
      type = widget[:type]
      className = "col-1-1"
      if widget[:size].eql?("Small")
        className = "col-1-3 col-1-1m"
      elsif widget[:size].eql?("Medium")
        className = "col-1-2 col-1-1m"
      end
    -%>
    <div class="<%= className -%>">
      <div class="card card__widget-<%= type.parameterize -%>" data-card>
        <div class="card--sides">
          <div class="card--front" data-card-front>
            <div class="card--heading">
              <div class="card--heading--label">
                <%= widget[:title] -%>
              </div>
              <div class="card--heading--icon">
                <a href="#" data-card-toggle>
                  <%= icon("cog_filled") -%>
                </a>
              </div>
            </div>
            <div class="card--body">
              <%- if type.eql?("message") -%>
                <%- data = widget[:message] -%>
                <div class="card--body--section <%= data[:className] -%>">
                  <%= data[:body] -%>
                </div>
              <%- elsif type.eql?("loading") -%>
                <div class="card--body--section card--body--section__loading">
                  <%= icon("spinner") -%>
                </div>
              <%- else -%>
                <%= 
                  begin 
                    render("/koi/application/dashboard_widgets/#{type}", widget: widget, index: index) 
                  rescue ActionView::MissingTemplate
                    render("/koi/application/dashboard_widgets/unknown_widget_type")
                  end
                -%>
              <%- end -%>
            </div>
            <%- if widget[:footer] -%>
              <div class="card--footer">
                <%= widget[:footer] -%>
              </div>
            <%- end -%>
          </div>
          <div class="card--back" data-card-back>
            <div class="card--heading">
              <div class="card--heading--label">
                <%= widget[:title] -%>
              </div>
            </div>
            <div class="card--body">
              <div class="card--body--section">
                <div class="inputs">
                  <div class="control-group check_boxes optional super_hero_powers form--enhanced">
                    <label class="control-label">Widget Title</label>
                    <div class="controls">
                      <input type="text" value="<%= widget[:title] -%>" />
                    </div>
                  </div>
                  <div class="control-group check_boxes optional super_hero_powers form--enhanced">
                    <label class="control-label">Size</label>
                    <div class="controls">
                      <%- size_options = ["Small", "Medium", "Large"] -%>
                      <%- size_options.each do |size| -%>
                        <span class="radio">
                          <label>
                            <input class="check_boxes required" id="size_<%= size.downcase -%>" type="radio" name="<%= index -%>_size" value="true" <%= "checked" if size.eql?(widget[:size]) -%>>
                            <%= size -%>
                          </label>
                        </span>
                      <%- end -%>
                    </div>
                  </div>
                </div>
              </div>
              <%= 
                begin 
                  render("/koi/application/dashboard_widgets/#{type}_options", widget: widget, index: index) 
                rescue ActionView::MissingTemplate
                  nil
                end
              -%>
              <div class="card--body--section">
                <div class="button-group">
                  <div>
                    <button class="button__success" data-card-toggle>Save</button>
                  </div>
                  <div>
                    <button class="button__cancel" data-card-toggle>Cancel</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%- end -%>
</div>

<style>
  .dashboard--dates--container {
    margin-bottom: 20px;
  }
  .dashboard--dates {
    display: flex;
    margin: -10px;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .dashboard--dates--submit {
    padding: 10px;
    display: flex;
    align-items: flex-end;
  }
  .dashboard--dates--field {
    padding: 10px;
  }
  .twitter-list--item + .twitter-list--item {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #ccc;
  }
  .twitter-list--item .user a {
    overflow: hidden;
  }
  .twitter-list--item .user a > span {
    display: block;
  }
  .twitter-list--item .user a > span[data-scribe='element:verified_badge'] {
    display: none;
  }
  .twitter-list--item .user a > span:first-child {
    width: 20px;
    float: left;
    margin-right: 8px;
    margin-top: 4px;
  }
</style>