<% content_for :title, 'Dashboard' %>

<%#= render 'google_analytics' rescue nil %>
<%#= render 'twitter_feed' %>
<%#= render 'reports' %>

<%- 
  allow_analytics = 
  widgets = [{
    title: "Weekly page views",
    footer: "This is a footer message",
    type: "google_analytics",
    size: "Small",
    google_analytics: {
      type: "KoiLineChart",
      query: {
        dimensions: "ga:yearWeek",
        metrics: "ga:pageviews",
        sort: "ga:yearWeek"
      },
      settings: {
        simple: true
      },
      chart: {
        showArea: true,
        low: 0
      }
    }
  },{
    title: "This will never load",
    footer: "Isn't the wait exciting, though?",
    type: "loading",
    size: "Small"
  },{
    title: "Something else",
    type: "google_analytics",
    size: "Small",
    google_analytics: {
      type: "KoiLineChart",
      query: {
        dimensions: "ga:yearWeek",
        metrics: "ga:pageviews",
        sort: "ga:yearWeek"
      },
      settings: {
        simple: true
      },
      chart: {
        showArea: true,
        low: 0
      }
    }
  },{
    title: "Test alert",
    type: "message",
    size: "Medium",
    message: {
      className: "error",
      body: "This is a custom alert"
    }
  },{
    title: "Twitter Feed",
    type: "twitter",
    size: "Medium",
    twitter: {
      id: "389900838295965696",
      maxTweets: 4,
      enableLinks: true,
      showUser: true,
      showTime: true,
      dateFunction: '',
      showRetweet: true
    }
  }]
-%>

<div class="row flipppable_cards">
  <%- widgets.each_with_index do |widget,index| -%>
    <%- 
      type = widget[:type]
      className = "col-1-1"
      if widget[:size].eql?("Small")
        className = "col-1-3 col-1-1m"
      elsif widget[:size].eql?("Medium")
        className = "col-1-2 col-1-1m"
      end
    -%>
    <div class="<%= className -%>">
      <div class="card card__widget-<%= type.parameterize -%>" data-card>
        <div class="card--sides">
          <div class="card--front" data-card-front>
            <div class="card--heading">
              <div class="card--heading--label">
                <%= widget[:title] -%>
              </div>
              <div class="card--heading--icon">
                <a href="#" data-card-toggle>
                  <%= icon("cog_filled") -%>
                </a>
              </div>
            </div>
            <div class="card--body">
              <%- if type.eql?("google_analytics") -%>
                <%- data = widget[:google_analytics] -%>
                <div class="card--body--section card--body--section__chart">
                  <div class="ct-chart_<%= index -%>"></div>
                  <script>
                    $(document).on("ornament:refresh", function(){
                      var $element = $(".ct-chart_<%= index -%>");
                      var defaultOptions = {
                        fullWidth: true,
                        <%- if data[:settings][:simple].eql?(true) -%>
                          axisX: {
                            offset: 0,
                            showGrid: false,
                            showLabel: false
                          },
                          axisY: {
                            offset: 0,
                            showGrid: false,
                            showLabel: false,
                          },
                        <%- end -%>
                        plugins: [
                          Chartist.plugins.tooltip({
                            appendToBody: true
                          })
                        ]
                      }
                      var options = _.merge(defaultOptions, <%= raw data[:chart].to_json -%>);
                      var chart = new Chartist.Line($element[0], {
                        labels: ['Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday'],
                        series: [
                          [12, 9, 7, 8, 5],
                          [2, 1, 3.5, 7, 3],
                          [1, 3, 4, 5, 6]
                        ]
                      }, options);
                      chart.on('created', function(data){
                        Ornament.Cards.sizeCardForClosest($element);
                      });
                    });
                  </script>
                </div>
                <div class="card--body--section card--body--section__totals card--body--section__good">
                  <p>
                    <big>5,000</big>
                  </p>
                  <p>
                    Pageviews
                  </p>
                </div>
              <%- elsif type.eql?("message") -%>
                <%- data = widget[:message] -%>
                <div class="card--body--section <%= data[:className] -%>">
                  <%= data[:body] -%>
                </div>
              <%- elsif type.eql?("twitter") -%>
                <%- data = widget[:twitter] -%>
                <div class="card--body--section card--body--section__twitter">
                  <div data-twitter-id="twitter-widget_<%= index -%>"></div>
                  <script>
                    var $twitterContainer = $("[data-twitter-id='twitter-widget_<%= index -%>']");

                    var koiTwitterTemplate = function(twitterData){
                      $twitterContainer.html("");
                      $.each(twitterData, function(i, tweet) {

                        // Clean up some data
                        var $htmlTweet = $.parseHTML(tweet);
                        var $tweetUser = $htmlTweet[0];
                        var $tweetPost = $htmlTweet[1];
                        var $tweetTimeAgo = $htmlTweet[2];

                        $($tweetTimeAgo).addClass("grey small");
                        $($tweetPost).addClass("text-wrap");

                        // Build tweet item
                        var $newTweet = $("<div class='twitter-list--item compressed' />");
                        $newTweet.append($tweetUser).append($tweetTimeAgo).append($tweetPost);

                        // make links open in new window
                        $newTweet.find("a").attr("target","_blank");

                        // Add tweet to page
                        $twitterContainer.append($newTweet);
                      });
                      Ornament.Cards.sizeCardForClosest($twitterContainer);
                    }

                    var defaultOptions = {
                      "domId": '',
                      "maxTweets": 4,
                      "enableLinks": true,
                      "showUser": true,
                      "showTime": true,
                      "dateFunction": '',
                      "showRetweet": true,
                      "customCallback": koiTwitterTemplate,
                      "showInteraction": false
                    }
                    var twitterOptions = _.merge(defaultOptions, <%= raw data.to_json -%>);
                    twitterFetcher.fetch(twitterOptions);
                  </script>
                </div>
              <%- elsif type.eql?("loading") -%>
                <div class="card--body--section card--body--section__loading">
                  <%= icon("spinner") -%>
                </div>
              <%- else -%>
                <div class="card--body--section card--body--section__unknown">
                  Unknown widget type
                </div>
              <%- end -%>
            </div>
            <%- if widget[:footer] -%>
              <div class="card--footer">
                <%= widget[:footer] -%>
              </div>
            <%- end -%>
          </div>
          <div class="card--back" data-card-back>
            <div class="card--heading">
              <div class="card--heading--label">
                <%= widget[:title] -%>
              </div>
              <div class="card--heading--icon">
                <a href="#" data-card-toggle>
                  <%= icon("cog_filled") -%>
                </a>
              </div>
            </div>
            <div class="card--body">
              <div class="card--body--section">
                <div class="control-group check_boxes optional super_hero_powers form--enhanced">
                  <label class="control-label">Size</label>
                  <div class="controls">
                    <span class="radio">
                      <label>
                        <input class="check_boxes required" id="size_large" type="radio" name="<%= index -%>_size" value="true">
                        Large
                      </label>
                    </span>
                    <span class="radio">
                      <label>
                        <input class="check_boxes required" id="size_medium" type="radio" name="<%= index -%>_size"x value="true">
                        Medium
                      </label>
                    </span>
                    <span class="radio">
                      <label>
                        <input class="check_boxes required" id="size_small" type="radio" name="<%= index -%>_size"x value="true">
                        Small
                      </label>
                    </span>
                  </div>
                </div>
              </div>
              <div class="card--body--section">
                Widget-specific settings
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  <%- end -%>
</div>

<script>

  $(document).on("ornament:refresh", function(){

    // ===========================
    // Setup
    // ===========================

    var Cards = Ornament.Cards = {};
    Cards.selectors = {
      card: "data-card",
      cardFront: "data-card-front",
      cardBack: "data-card-back",
      cardFlipper: "data-card-toggle"
    }
    Cards.classes = {
      flipped: "card__flipped"
    }
    Cards.settings = {
      flipTiming: 200
    }

    // ===========================
    // Helpers
    // ===========================

    Cards.isCardFlipped = function($card) {
      return $card.is("." + Cards.classes.flipped);
    }

    Cards.getVisibleSide = function($card) {
      if(Cards.isCardFlipped($card)) {
        return Ornament.findData(Cards.selectors.cardBack, false, $card);
      } else {
        return Ornament.findData(Cards.selectors.cardFront, false, $card);
      }
    }

    // ===========================
    // Behaviours
    // ===========================

    // Flip a card
    Cards.flipCard = function($card, side){
      side = side || false;
      if(!side) {
        var flipped = Cards.isCardFlipped($card);
        side = flipped ? "front" : "back";
      }
      if(side && side === "front") {
        $card.removeClass(Cards.classes.flipped);
      } else if(side && side === "back") {
        $card.addClass(Cards.classes.flipped);
      }
      setTimeout(_ => {
         Cards.sizeCard($card);
      }, Cards.settings.flipTiming);
      return $card;
    }

    // Resize card to the visible side
    Cards.sizeCard = function($card) {
      var $card = $($card);
      var $visibleSide = Cards.getVisibleSide($card);
      var $cloneSide = $visibleSide.clone().css({
        "position": "static",
        "visibility": "hidden"
      });
      $card.append($cloneSide);
      var height = $cloneSide.outerHeight();
      $cloneSide.remove();
      $card.height(height);
      return height;
    }

    Cards.sizeCardForClosest = function($element) {
      var $card = $element.closest("[" + Ornament.Cards.selectors.card + "]");
      Cards.sizeCard($card);
    };

    // ===========================
    // Events and Binds
    // ===========================

    Cards.toggleEvent = function(event) {
      event.preventDefault();
      var $flipper = $(event.target);
      var side = $flipper.attr(Cards.selectors.cardFlipper);
      var $card = $flipper.closest("[" + Cards.selectors.card + "]");
      Cards.flipCard($card, side);
      return true;
    }

    // ===========================
    // Init Cards
    // ===========================

    Cards.init = function(){
      Cards.$cards = Ornament.findData(Cards.selectors.card);
      Cards.$toggles = Ornament.findData(Cards.selectors.cardFlipper);
      if(Cards.$cards) {
        $.each(Cards.$cards, function(){
          Cards.sizeCard($(this));
        });
      }
      if(Cards.$toggles) {
        $.each(Cards.$toggles, function() {
          $(this).off("click", Cards.toggleEvent).on("click", Cards.toggleEvent);
        });
      }
    }

    // Run it all 
    Cards.init();

    // ===========================
    // Widget Types
    // ===========================

    Widgets = Ornament.Widgets = {};

  });

</script>

<style>
  .twitter-list--item + .twitter-list--item {
    margin-top: 16px;
    padding-top: 16px;
    border-top: 1px solid #ccc;
  }
  .twitter-list--item .user a {
    overflow: hidden;
  }
  .twitter-list--item .user a > span {
    display: block;
  }
  .twitter-list--item .user a > span[data-scribe='element:verified_badge'] {
    display: none;
  }
  .twitter-list--item .user a > span:first-child {
    width: 20px;
    float: left;
    margin-right: 8px;
    margin-top: 4px;
  }
</style>