<%- 
  content_for(:include_google_maps, "true") 
  wrapper_opts[:class] += " form--latlng" 
  latlng_data = { latlng_from: attr }
  input_opts[:data].present? ? input_opts[:data].merge(latlng_data) : input_opts[:data] = latlng_data
-%>

<%= f.input attr, wrapper: :koi, wrapper_html: wrapper_opts, input_html: input_opts %>

<div class="form--latlng" data-latlng-for="<%= attr -%>">
  <%= render layout: "koi/shared/inline_lightbox", locals: { title: "Find Location", inline_id: "#{attr}_lightbox", footer: capture { -%>
    <div class="button-group">
      <div><a href="#" class="button__save" data-latlng-save="<%= attr -%>">Save</a></div>
      <div><a href="#" class="button__cancel" data-lightbox-close="<%= attr -%>">Cancel</a></div>
      <div><a href="#" class="button__primary" data-latlng-geolocate="<%= attr -%>">Geolocate Me</a></div>
    </div>
  <%- } } do -%>
    <input class="map--pac-input" type="text" placeholder="Search for Location" data-latlng-search="<%= attr -%>">
    <div class="map-canvas" data-latlng-map="<%= attr -%>"></div>
  <%- end -%>
</div>
