<%

  object        = f.object
  klass         = object.class
  crud_settings = resource_class.crud.find(:fields, attr)

  id_field = "#{attr}_id".to_sym
  crop_field = "#{attr}_crop".to_sym

  # maximum amount of files uploaded to this field
  max_count ||= "1"

  # max file size of each file in megabytes
  max_size = crud_settings[:max_size] || "5"

  # allowed file types
  types = crud_settings[:types] || "jpg, jpeg, gif, png"

  # customisable html class
  html_class ||= ""

  # hidable label
  hide_label ||= false
  is_required = klass.validates_presence_of? attr

  # croppable setting
  croppable = crud_settings[:croppable] || false

  # ratio with fallback to square
  ratio = crud_settings[:ratio] || "1/1"

  # deterime if image or file type
  is_file = false
  is_file = true if types.include?("pdf")
  is_file = true if types.include?("xls")
  is_file = true if types.include?("xlsx")
  is_file = true if types.include?("doc")
  is_file = true if types.include?("docx")

  # if there's an existing image
  if resource.send(id_field).nil?
    existing_image = ""
    existing_name = ""
  else
    if resource.send(id_field).is_a? Integer
      existing_asset = Asset.find(resource.send(id_field)).data
      existing_image = existing_asset.url
      existing_name = existing_asset.name
    end
  end

  # create a cropped existing image if necessary
  existing_image_original = existing_image
  # if croppable && !crop_field.blank? && !resource.send(id_field).eql?(nil)
  #   existing_image = resource.send(crop_field).url
  # end

  wrapper_class = attr
  wrapper_class += " error" unless f.error(id_field).blank?

%>

<%= content_tag :div, class: wrapper_class, data: wrapper_opts[:data] do -%>

  <%# Hide the label if necessary %>
  <%- unless hide_label -%>
    <%= is_required ? f.label(id_field, required: true) : f.label(id_field) -%>
  <%- end -%>

  <%# Errors and hints %>
  <%= f.error(id_field) -%>
  <%= f.hint(id_field) -%>

  <%# External hint position to support fake hints %>
  <div class="file-uploader--external-hint" data-uploader-hint-position></div>

  <%# Existing file link %>
  <%- if !existing_image.blank? && !existing_name.blank? -%>
    <div class="file-uploader--current-file">
      <strong>Current file:</strong> <%= link_to existing_name, existing_image, target: "_blank" -%>
    </div>
  <%- end -%>

  <%# The file uploader widget %>
  <div class="file-uploader <%= html_class -%>">
    <div>
      
      <%# Hidden input field for #{attr}_crop (crop_string) %>
      <%= f.input_field crop_field, as: :hidden, readonly: true if croppable -%>

      <%# Hidden input field to #{attr}_id (asset id) %>
      <%= f.input_field id_field, as: :hidden -%>

      <%# Dummy input field to track image uploading and passing options to javascript %>
      <input type="file" 
        data-file-uploader 
        data-file-max-count="<%= max_count -%>" 
        data-file-max-size= "<%= max_size -%>" 
        data-file-types="<%= types -%>" 
        data-file-existing-image="<%= existing_image_original -%>" 
        data-file-existing-name="<%= existing_name -%>", 
        data-file-for="<%= "#{resource.class.name.underscore}_#{id_field}" -%>" 
        data-file-image-ratio="<%= ratio -%>"
        <%= "data-file-document" if is_file -%> 
        <%- if croppable -%>
          data-file-croppable 
          data-file-crop-string="<%= resource.send(crop_field) -%>" 
          data-file-modal="crop_<%= attr -%>_modal" 
          data-file-crop-field="<%= "#{resource.class.name.underscore}_#{attr}" -%>_crop" 
        <%- end -%>
      />

    </div>
  </div>

  <%# Crop modal - only necessary if crop_ratio is present %>
  <%- if croppable -%>
    <div class="form--file-crop mfp-hide" id="crop_<%= attr -%>_modal">
      <div class="form--file-crop--container">
        <div data-crop-image>
          <%# 
            Show the original image if already exists, otherwise
            loads in when the user uploads an image
          %>
          <%- if existing_image_original -%>
            <img src="<%= existing_image_original -%>" />
          <%- end -%>
        </div>
      </div>
      <div class="form--file-crop--footer">
        <a href="#" class="button__confirm button__full" data-crop-save>Done</a>
      </div>
    </div>
  <%- end -%>

<%- end -%>

