<% form_path = [resource] %>
<%
  # NOTE: admin namespace is not needed for koi core classes server from the railtie
  #       as they live in engine namespace
%>
<% form_path.insert(0, :admin) unless is_koi_core_class? resource_class %>
<% # FIXME: Need to check if admin exists before inserting into 1 position %>
<% form_path.insert(1, parent) unless parent.nil? if respond_to? :parent %>

<%#= is_koi_core_class? resource_class %>
<%#= resource_class %>
<%#= form_path.length %>
<%#= form_path %>

<%- partial_with_wrapper do -%>
  <%- content_for :below_title do -%>
    <%= render partial: "form_below_title" -%>
  <%- end -%>
<%- end -%>

<%- partial_with_wrapper do -%>
  <%- content_for :title_actions do -%>
    <%= render partial: "form_title_actions" -%>
  <%- end -%>
<%- end -%>

<%- sidebar = partial_with_wrapper do -%>
  <div class="page--sidebar">
    <%= render partial: "form_sidebar" -%>
  </div>
<%- end -%>

<%- if sidebar -%>
  <div class="page__with-sidebar-right">
    <div class="page--main">
<%- end -%>

<%= partial_with_wrapper do -%>
  <div class="listing--above-list">
    <%= render partial: "form_above" -%>
  </div>
<%- end -%>

<%= simple_form_for form_path, html: { multipart: true, autocomplete: 'off', class: 'form-vertical' }  do |f| %>
    <%= render "form_parent",  { :f => f } %>
    <div class="inputs">
      <%= render "form_errors",  { :f => f } %>
      <%= render "form_fields",  { :f => f } %>
      <%= render "form_buttons", { :f => f } %>
    </div>
<% end %>

<%= partial_with_wrapper do -%>
  <div class="listing--below-list">
    <%= render partial: "form_below" -%>
  </div>
<%- end -%>

<%- if sidebar -%>
    </div>
    <%= sidebar -%>
  </div>
<%- end -%>

<%= render "koi/shared/dirty_form_checker" -%>
