<%
  object        = f.object
  klass         = object.class
  value         = object.send attr
  remove        = "remove_#{attr}"
  is_nil_or_new = value.nil? || object.new_record?
  is_required   = klass.validates_presence_of? attr
  kind          = klass.crud.find(:fields, attr, :type)
  html_id       = new_uuid
%>

<div class="simple wrapper as-clr">
  <%= f.hidden_field "retained_#{attr}" %>
  <%= f.label(attr) unless klass.crud.find(:fields, attr, :label) === false %>
  <div class="rd-3px br br-grey-d8 pd-5px as-iblk flt-l sp-r-5px">
    <% unless is_nil_or_new %>
      <%= attachment_image_tag(value) %>
    <% else %>
      <%= placeholder_image_tag("No File", size: "100x100") %>
    <% end %>
  </div>
  <div class="flt-l">
    <% if value.respond_to?(:name) %>
      <p><%= link_to value.name, value.url %></p>
    <% end %>
    <ol>
      <% unless is_nil_or_new %>
        <li>
          <label><%= f.radio_button remove, false, checked: !is_nil_or_new %> Keep this <%= kind %></label>
        </li>
      <% end %>
      <% unless is_required %>
        <li><label><%= f.radio_button remove, true %> No <%= kind %></label></li>
      <% end %>
      <li><label><%= f.radio_button remove, false, checked: is_nil_or_new, id: html_id %> Upload a new <%= kind %></label></li>
      <li><%= f.input attr, as: :file, label: false, onclick: "document.getElementById('#{html_id}').click()" %></li>
    </ol>
  </div>
</div>
