<%
  object      = f.object
  klass       = f.object.class
  association = klass.reflect_on_association attr
  html        = "class-#{klass.name} attribute-#{attr}"
%>

<div class="<%= html %> nested-fields simple wrapper"
    data-min="<%= association.minimum %>"
    data-max="<%= association.maximum %>"
    data-count="<%= object.count attr %>"
    data-class="<%= klass.name %>"
    data-attribute="<%= attr %>">

  <fieldset>
    <h4 class="border-b"><%= attr.to_s.gsub("_", " ").titleize %></h4>

    <div class="<%= html %> <%= "sortable fields" if association.is_orderable? %> nested-fields-container space-t-2">
      <%= f.nested_fields_for attr,
          new_object: association.klass.new,
          item_template_class: "#{html} nested-fields-item-template",
          empty_template_class: "#{html} nested-fields-empty-template" do |g| %>
        
        <div class="<%= html %> nested-fields-item">
        
            <div class="row border-b space-t-1 space-b-1">

              <div class="span13">
                <%= g.hidden_field :id %>
                <%= g.hidden_field :_destroy %>
                <%= render "form_fields", { :f => g } %>
              </div>

              <div class="span2 pad-t-3">
                <a href="#" class="<%= html %> nested-fields-remove">&#x2716; delete</a>
              </div>
            
              <div class="span2 pad-t-3">
                <% if association.is_orderable? %>
                  <a class="cursor-move" href="#"><%= image_tag "koi/icon/index/sortable.png" %></a>
                <% end %>
              </div>

            </div>
        </div>
      <% end %>
    </div>
  </fieldset>
  <p><a href="#" class="<%= html %> nested-fields-add btn">Add new</a></p>
</div>
<%= render "koi/admin_crud/form_field_collection_errors", f: f, attr: attr %>
