<%
  object      = f.object
  klass       = f.object.class
  association = klass.reflect_on_association attr
  html        = "class-#{klass.name} attribute-#{attr}"
  one        = attr.to_s.singularize.gsub "_", " "
%>

<div class="<%= html %> nested-fields simple wrapper"
    data-min="<%= association.minimum %>"
    data-max="<%= association.maximum %>"
    data-count="<%= object.count attr %>"
    data-class="<%= klass.name %>"
    data-attribute="<%= attr %>">

  <fieldset>
    <h4><%= attr.to_s.gsub("_", " ").titleize %></h4>

    <div class="<%= html %> <%= "sortable fields" if association.is_orderable? %> nested-fields-container space-t-2">
      <%= f.nested_fields_for attr,
          new_object: association.klass.new,
          item_template_class: "#{html} nested-fields-item-template",
          empty_template_class: "#{html} nested-fields-empty-template" do |g| %>
        
        <div class="<%= html %> nested-fields-item">
        
            <div class="row border-t space-t-1 space-b-1 pad-t-1 pad-l-3">

              <div class="pull-right">
                <a href="#" class="<%= html %> nested-fields-remove">&#x2716; delete</a>
              </div>

              <div class="pull-right pad-t-3">
                <% if association.is_orderable? %>
                  <a class="cursor-move block float-r" href="#"><%= image_tag asset_path("koi/application/icon-sortable.png") %></a>
                <% end %>
              </div>
              
              <div>
                <%= g.hidden_field :id %>
                <%= g.hidden_field :_destroy %>
                <%= render "form_fields", { :f => g } %>
              </div>

            </div>
        </div>
      <% end %>
    </div>
  </fieldset>
  
  <div class="border-t pad-t-1 space-b-2 align-right"><a href="#" class="<%= html %> nested-fields-add btn btn-primary btn-small">Add <%= one %></a></div>
</div>
<%= render "koi/admin_crud/form_field_collection_errors", f: f, attr: attr %>
<br>
