<%
  partial                 = "inline_fields"
  attr_string             = attr.to_s
  klass                   = attr_string.classify.constantize
  header                  = klass.model_name.human
  singular_name_humanized = header.singularize
  add_link                = "Add #{singular_name_humanized}"
  records                 = f.object.send(attr)

  is_orderable            = (klass.has_crud? && klass.options[:orderable]) ? true : false
  records                 = records.sort_by(&:ordinal) if is_orderable

  locals_to_be_passed = {
    is_orderable: is_orderable,
    attr_string: attr_string,
    singular_name_humanized: singular_name_humanized
  }
%>

<div class="inline-nested-form <%= attr_string %>" data-controller="cocoon" <%= "data-cocoon-sortable-value" if is_orderable %>>

  <div class="inline-nested--heading spacing-xxxxx-tight">
    <h2 class="heading-three"><%= header %></h2>
    <% if is_orderable %>
      <label class="inline-nested--orderable control-group checkbox__single form--enhanced">
        <div class="controls">
          <div class="checkbox control-label">
            <input class="boolean optional enhanced" value="1" type="checkbox" data-action="change->cocoon#toggleSortable">
            <span class="form--enhanced--control"></span>
            Allow re-ordering
          </div>
        </div>
      </label>
    <% end %>
  </div>

  <% if f.error(attr) %>
    <p class="error-block">
      <%= header %> <%= resource.errors.messages[attr][0] %>
    </p>
  <% end %>

  <div class="nested-wrapper">
    <div class="nested-container">
      <%= f.simple_fields_for attr, records do |record| %>
        <%= render partial, { f: record }.merge(locals_to_be_passed) %>
      <% end %>
      <div class="nested-links">
        <%= link_to_add_association add_link, f, attr, partial: partial,
            render_options: { locals: locals_to_be_passed }, class: "button__confirm" %>
      </div>
    </div>
  </div>

</div>

<% content_for :javascripts do %>
  <%= render "user_inline_javascript" %>
<% end %>
