<% form_path = [resource] %>
<%
  # NOTE: admin namespace is not needed for koi core classes server from the railtie
  #       as they live in engine namespace
%>
<% form_path.insert(0, :admin) unless is_koi_core_class? resource_class %>
<% # FIXME: Need to check if admin exists before inserting into 1 position %>
<% form_path.insert(1, parent) unless parent.nil? if respond_to? :parent %>

<%#= is_koi_core_class? resource_class %>
<%#= resource_class %>
<%#= form_path.length %>
<%#= form_path %>

<%= simple_form_for form_path, html: { multipart: true, autocomplete: 'off', class: 'form-vertical' }  do |f| %>
  
  <% if is_settable? %>
    <ul class="nav nav-tabs">
      <li class="active"><a href="#tab-edit" data-toggle="tab">Edit</a></li>
      <li><a href="#tab-settings" data-toggle="tab">Settings</a></li>
    </ul>
  <% end %>

  <div class="tab-content">
    <div class="tab-pane active" id="tab-edit">
      <%= render "form_parent",  { :f => f } %>
      <%= render "form_errors",  { :f => f } %>
      <%= render "form_fields",  { :f => f } %>
    </div>

    <% if is_settable? %>
      <div class="tab-pane" id="tab-settings">
        <%= render 'koi/settings/settings_fields', f: f %>
      </div>
    <% end %>
  </div>

  <%= render "form_buttons", { :f => f } %>

<% end %>
