<div class="listing--pagination--search">

  <%= form_tag collection_path, :method => 'get', class: "form-search ornament-form space-0" do %>
    <%= hidden_field_tag :direction, params[:direction], id: "search_direction" %>
    <%= hidden_field_tag :sort, params[:sort], id: "search_sort" %>
    <%= hidden_field_tag :per, params[:per], id: "search_per" %>

    <div class="control-group">
      <div class="controls">
        <div class="form-inline">
          <div class="form-inline--input">
            <input type="text"
                   name="search"
                   placeholder="Search"
                   value="<%= params[:search] %>" />
          </div>
          <%= content_tag :button, "Go", type: "submit", name: "commit", value: "Search", :class => "button__primary form-inline--button" %>
          <div class="form-inline--button">
            <%= link_to "Reset", collection_path, class: "button button__full" %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
