<div class="table--actions--container">
  <ul class="listing--item-actions">
    <% if is_allowed? :show %>
      <li><%= link_to "Show", resource_path(object) %></li>
    <% end %>
    <% if is_allowed? :edit %>
      <li><%= link_to "Edit", edit_resource_path(object) %></li>
    <% end %>
    <% (resource_class.crud.find(:admin, :index, :relations) || []).each do |child| %>
      <li><%= link_to "#{child.to_s.titleize}", [:admin, object, child] %></li>
    <% end %>
  </ul>

  <%= partial_with_wrapper do %>
    <div class="listing--custom-actions">
      <%= render partial: "index_fields_custom_actions", locals: { object: object } %>
    </div>
  <% end %>
</div>
