<% if is_orderable? %>
  <% js_data "sort_admin_#{plural_name}_path".to_sym, url_for(:action => :sort) %>
  <% content_for :head do %>
    <script type="text/javascript">
      document.onselectstart = function () { return false; }

      $(function() {
        var notice = $('<p class="pad-1 background-light-green">Saving...</p>').hide();
        $("#sortable").sortable({
          placeholder: 'ui-state-placeholder',
          // Return a helper with preserved width of cells
          helper: function(e, ui) {
            ui.children().each(function() {
              $(this).width($(this).width());
            });
            return ui;
          },
          update: function() {
            notice.stop(true, true).removeClass('success').addClass('notice').text("Saving...").show();
            $.post(jsData.sortAdmin<%= resource_class.to_s.pluralize %>Path, '_method=put&'+$(this).sortable('serialize'), function() {
              notice.removeClass('notice').addClass('success').text("Save successful.").delay(1000).fadeOut();
            });
          }
        }).disableSelection().parent().next().prepend(notice);
      });
    </script>
  <% end %>
<% end %>

<div id="index-fields">
  <table class="table space-b-0">
    <thead>
      <tr>
        <% resource_class.admin_attributes(:index).each_with_index do |attr,i| %>
          <% label = t "simple_form.labels.#{resource_class.model_name.i18n_key}.#{attr}", default: attr.to_s.titleize %>
          <% if is_sortable? %>
            <th class="sort-icon"><%= sortable attr.to_s, label, :class => "nohover" %></th>
          <% else %>
            <th><%= label %></th>
          <% end %>
        <% end %>
        <th class="span4">Actions</th>
      </tr>
    </thead>
    <%- if is_orderable? -%>
    <tbody id="sortable" class="">
    <%- else -%>
    <tbody>
    <%- end -%>
      <% collection.each_with_index do |object, i| %>
        <%- if is_orderable? -%>
        <tr id="<%= "#{singular_name}_#{object.id}" %>">
        <%- else -%>
        <tr>
        <%- end -%>
          <% resource_class.admin_attributes(:index).each_with_index do |attr,index| %>
            <td>
                <%=
                begin
                  render crud_partial(attr, :index), { :attr => attr, :object => object }
                rescue ActionView::MissingTemplate
                  render "index_field_default", { :attr => attr, :object => object }
                end
                %>
            </td>
          <% end %>
          <td class="nowrap">
            <%= render "index_fields_action", { :object => object } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
