<% if is_orderable? %>
  <% content_for :head do %>
    <script type="text/javascript">

      $ (function ()
      {
        var sortPath = "<%= url_for(:action => :sort) %>"
        var sortable = $ ('#sortable')
        var notice   = $ ('<div>').addClass ('panel__flash panel__success panel__flash__fixed-bottom hidden');
        var noticeInner = $("<div />").addClass("layout--container");
        notice.append(noticeInner);
        $("#index-fields").before(notice);

        var savingMessage = "Saving..."
        var successMessage = 'Save successful...'

        sortable.find("a").on("mousedown", function (event) {
          event.stopPropagation();
        });

        function showNotice (f) {
          noticeInner.text (savingMessage);
          notice
            .stop (true, true)
            .addClass ('notice').removeClass ('hidden')
            .animate ({ opacity:1 }, f)
        }

        function hideNotice () {
          noticeInner.text (successMessage);
          notice
            .removeClass('notice')
            .delay (1000)
            .animate ({ opacity:0 }, function(){
              notice.addClass('hidden');
            });
        }

        $ ('#sortable').sortable ({
          placeholder: 'ui-state-placeholder', 
          handle: "[data-table-sorter]",
          axis: "y",
          helper: function(e, ui) {
            // preserves width of cells...
            ui.children().each(function () { 
              $(this).width($(this).width());
            });
            return ui;
          }, 
          update: function() {
            showNotice(function() {
              $.post(sortPath, '_method=put&' + sortable.sortable ('serialize'), hideNotice);
            });
          },
          start: function(event, ui) {
            $("body").addClass("table-sorting-active");
          },
          stop: function(event, ui) {
            $("body").removeClass("table-sorting-active");
          }
        }).disableSelection().on('selectstart', function() { return false });
      });
    </script>
  <% end %>
<% end %>

<div id="index-fields" class="table-container">
  <table class="table space-b-0">
    <thead>
      <tr>
        <% resource_class.admin_attributes(:index).each_with_index do |attr,i| %>
          <% label = raw t("simple_form.labels.#{resource_class.model_name.i18n_key}.#{attr}", default: attr.to_s.titleize) %>
          <% if is_sortable? %>
            <th class="sort-icon table__th__<%= label.parameterize -%>"><%= sortable attr.to_s, label, :class => "nohover" %></th>
          <% else %>
            <th class="table__th__<%= label.parameterize -%>"><%= label %></th>
          <% end %>
        <% end %>
        <th class="table__th__actions">Actions</th>
        <%- if is_orderable? -%>
          <th class="table__td__sorter">&nbsp;</th>
        <%- end -%>
      </tr>
    </thead>
    <%- if is_orderable? -%>
    <tbody id="sortable" class="">
    <%- else -%>
    <tbody>
    <%- end -%>
      <% collection.each_with_index do |object, i| %>
        <%- if is_orderable? -%>
        <tr id="<%= "#{singular_name}_#{object.id}" %>">
        <%- else -%>
        <tr>
        <%- end -%>
          <% resource_class.admin_attributes(:index).each_with_index do |attr,index| %>
            <td class="table__td__<%= attr -%>">
              <span class="table__span__<%= attr -%>">
                <%=
                begin
                  render crud_partial(attr, :index), { :attr => attr, :object => object }
                rescue ActionView::MissingTemplate
                  render "index_field_default", { :attr => attr, :object => object }
                end
                %>
              </span>
            </td>
          <% end %>
          <td class="table__td__actions">
            <%= render "index_fields_action", { :object => object } %>
          </td>
          <% if is_orderable? %>
            <td class="table__td__sorter" data-table-sorter>
              <div class="table--sorter--container">
                <%= image_tag "koi/application/icon-sortable.png" %>
              </div>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
