<%= form_tag collection_path, :method => 'get', class: "form-search w-9col2 as-iblk h-3" do %>

  <%= hidden_field_tag :direction, params[:direction], id: "search_direction" %>
  <%= hidden_field_tag :sort, params[:sort], id: "search_sort" %>
  <%= hidden_field_tag :per, params[:per], id: "search_per" %>

  <span class="tx-bold sp-r-5px">Search</span>

  <input type="text"
         name="search"
         placeholder="Enter search criteria"
         value="<%= params[:search] %>"
         class="w-20 h-25px rd-3px ln-h-3 as-iblk" />

  <ul class="rounded-3px padded-1 spaced-3px hoverable inline buttons as-iblk h-2 ln-h-2 tx-11px">
    <li class="solid orange sp-l-5px">
      <%= content_tag :button, "Go", type: "submit", name: "commit", value: "Search" %>
    </li>
    <li class="hollow grey h-2 push-d-1px">
      <%= link_to "Reset", collection_path, class: "push-u-1px" %>
    </li>
  </ul>
<% end %>
