
<div class="tiles--column">
  <div class="tile tile__report">
    <div class="tile--header"><%= report[:name] %></div>
    <div class="tile--body"><%= report[:current_value] %></div>
    <% if report[:percent_change] %>
      <div class="tile--footer tile--footer-<%= report[:change_type] %>">
        <%= number_to_percentage(report[:percent_change].abs, precision: 1) %> <%= report[:change_type] %>
      </div>
    <% else %>
      <div class="tile--footer tile--footer--increase">
        <% if report[:period] == :all_time %>
          All Time
        <% else %>
          No Previous Data Yet
        <% end %>
      </div>
    <% end %>
  </div>
</div>
