<div class="action view">
  <%= render 'edit_title' %>

  <div class="tabs">

    <% if is_settable? %>
      <%= render "index_settings_navigation" %>
    <% end %>

    <div class="tabs--panes">
    
      <div class="tabs--pane" id="tab-main" data-tab-for="tab-main">
        <%= render 'edit_form' %>
        <%= render 'edit_form_actions' %>
      </div>

      <% if is_settable? %>
        <%= render "index_settings" %>
      <% end %>
    </div>

  </div>
</div>

<% content_for :side do %>
  <%= render 'side' %>
<% end %>
