<% if is_ajaxable? %>
  <% content_for :head do %>
    <%= render "index_ajax" %>
  <% end %>
<% end %>

<% content_for :title do %>
  <%= render "index_title" %>
<% end %>

<% if is_settable? || is_reportable? %>
  <%- content_for :title_tabs do -%>
    <%= render "index_settings_navigation" %>
  <%- end -%>
<% end %>

<% if is_settable? || is_reportable? %>
  <div class="tabs--pane tabs--pane__flush" id="tab-main" data-tab-for="tab-main">
<% end %>

  <div class="page__with-sidebar-right page__with-sidebar-top">
    <div class="page--main">

      <div class="listing--count">
        <div class="listing--count--items">
          <span><%= pluralize(resource_class.count, "item") -%></span>
        </div>
        <% if is_paginated? %>
          <div class="listing--count--per-page">
            <%= render 'index_pagination_options' %>
          </div>
        <% end %>
      </div>

      <%= render 'index_actions' %>
      <%= render 'index_fields' %>

      <% if is_paginated? && collection.num_pages != 0 %>
        <br />
        <div id="index-pagination">
          <%= render 'index_pagination' %>
        </div>
      <% end %>
    </div>
    <div class="page--sidebar">
      <div class="panel__passive panel__border">
        <div class="panel--padding" data-toggle-anchor="filter" data-toggle-anchor-width="page">
          <h2 class="heading-four">Filter</h2>
        </div>
        <div data-toggle="filter" data-toggle-default>
          <div class="panel--padding panel--padding-border">
            <div class="inputs">
              <% if is_searchable? %>
                <%= render 'index_search' %>
              <% end %>
              <div class="control-group select optional super_hero_gender form--enhanced"><label class="select optional control-label" for="super_hero_gender">Gender</label><p class="hint-block">The gender of your hero</p><div class="controls"><select class="select optional  form--small" name="super_hero[gender]" id="super_hero_gender"><option value=""></option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
                <option value="Robot">Robot</option></select></div></div>
              <div class="control-group check_boxes optional super_hero_powers form--enhanced"><label class="check_boxes optional control-label">Powers</label><p class="hint-block">What powers does this hero have?</p><div class="controls"><span class="checkbox"><label for="super_hero_powers_x-ray_vision"><input class="check_boxes optional enhanced" type="checkbox" value="X-RAY VISION" name="super_hero[powers][]" id="super_hero_powers_x-ray_vision"><span class="form--enhanced--control"></span>X-RAY VISION</label></span><span class="checkbox"><label for="super_hero_powers_regeneration"><input class="check_boxes optional enhanced" type="checkbox" value="REGENERATION" name="super_hero[powers][]" id="super_hero_powers_regeneration"><span class="form--enhanced--control"></span>REGENERATION</label></span><span class="checkbox"><label for="super_hero_powers_total_recall"><input class="check_boxes optional enhanced" type="checkbox" value="TOTAL RECALL" name="super_hero[powers][]" id="super_hero_powers_total_recall"><span class="form--enhanced--control"></span>TOTAL RECALL</label></span><span class="checkbox"><label for="super_hero_powers_teleportation"><input class="check_boxes optional enhanced" type="checkbox" value="TELEPORTATION" name="super_hero[powers][]" id="super_hero_powers_teleportation"><span class="form--enhanced--control"></span>TELEPORTATION</label></span><span class="checkbox"><label for="super_hero_powers_weather_control"><input class="check_boxes optional enhanced" type="checkbox" value="WEATHER CONTROL" name="super_hero[powers][]" id="super_hero_powers_weather_control"><span class="form--enhanced--control"></span>WEATHER CONTROL</label></span><span class="checkbox"><label for="super_hero_powers_force_fields"><input class="check_boxes optional enhanced" type="checkbox" value="FORCE FIELDS" name="super_hero[powers][]" id="super_hero_powers_force_fields"><span class="form--enhanced--control"></span>FORCE FIELDS</label></span><span class="checkbox"><label for="super_hero_powers_underwater_breathing"><input class="check_boxes optional enhanced" type="checkbox" value="UNDERWATER BREATHING" name="super_hero[powers][]" id="super_hero_powers_underwater_breathing"><span class="form--enhanced--control"></span>UNDERWATER BREATHING</label></span><span class="checkbox"><label for="super_hero_powers_super_strength"><input class="check_boxes optional enhanced" type="checkbox" value="SUPER STRENGTH" name="super_hero[powers][]" id="super_hero_powers_super_strength"><span class="form--enhanced--control"></span>SUPER STRENGTH</label></span><input type="hidden" name="super_hero[powers][]" value="" class="enhanced"><span class="form--enhanced--control"></span></div></div>
              <div class="control-group boolean optional super_hero_is_alive form--enhanced"><div class="controls test"><input value="0" type="hidden" name="super_hero[is_alive]" class="enhanced"><span class="form--enhanced--control"></span><label class="boolean optional control-label checkbox" for="super_hero_is_alive"><input class="boolean optional form--medium enhanced" type="checkbox" value="1" checked="checked" name="super_hero[is_alive]" id="super_hero_is_alive"><span class="form--enhanced--control"></span>Is alive</label></div></div>
            </div>
          </div>
          <div class="panel--padding panel--padding-border">
            <a href="#" class="button__confirm">Filter</a>
            <%= link_to "Reset", collection_path, class: "button" %>
          </div>
        </div>
      </div>
    </div>
  </div>

<% if is_settable? || is_reportable? %>
  </div>
<% end %>

<% if is_settable? %>
  <%= render "index_settings" %>
<% end %>

<% if is_reportable? %>
  <%= render "reports" %>
<% end %>
