<% if is_ajaxable? %>
  <% content_for :head do %>
    <%= render "index_ajax" %>
  <% end %>
<% end %>

<% content_for :title do %>
  <%= render "index_title" %>
<% end %>

<% if is_settable? %>
  <%= render "index_settings_navigation" %>
<% end %>

<div class="tab-content">
  <div class="tab-pane active" id="tab-main">
    <% if is_searchable? || is_paginated? %>
      <div class="row space-b-1">
        <% if is_searchable? %>
          <%= render 'index_search' %>
        <% end %>
        <% if is_paginated? %>
          <div id="index-pagination-options">
            <%= render 'index_pagination_options' %>
          </div>
        <% end %>
      </div>
    <% end %>

    <%= render 'index_actions' %>
    <%= render 'index_fields' %>

    <% if is_paginated? && collection.num_pages != 0 %>
      <br />
      <div id="index-pagination">
        <%= render 'index_pagination' %>
      </div>
    <% end %>
  </div>

  <% if is_settable? %>
    <%= render "index_settings" %>
  <% end %>

  <% if is_reportable? %>
    <%= render "reports" %>
  <% end %>
</div>


<% content_for :side do %>
  <%= render 'side' %>
<% end %>
