<% sidebar = partial_with_wrapper do %>
  <div class="page--sidebar">
    <%= render partial: "index_sidebar" %>
  </div>
<% end %>

<% if is_ajaxable? %>
  <% content_for :head do %>
    <%= render "index_ajax" %>
  <% end %>
<% end %>

<% content_for :title do %>
  <%= render "index_title" %>
<% end %>

<% partial_with_wrapper do %>
  <% content_for :below_title do %>
    <%= render partial: "index_below_title" %>
  <% end %>
<% end %>

<% partial_with_wrapper do %>
  <% content_for :title_actions do %>
    <%= render partial: "index_title_actions" %>
  <% end %>
<% end %>

<% if sidebar %>
  <div class="page__with-sidebar-right">
    <div class="page--main">
<% end %>

<%= partial_with_wrapper do %>
  <div class="listing--above-list">
    <%= render partial: "index_above_list" %>
  </div>
<% end %>

<div class="listing--count">
  <div class="listing--count--items">
    <span><%= pluralize(resource_class.count, "item") %></span>
    <% if is_searchable? %>
      <div class="listing--count--search">
        <%= render 'index_search' %>
      </div>
    <% end %>
  </div>
  <% if is_paginated? %>
    <div class="listing--count--per-page" id="index-pagination-options">
      <%= render 'index_pagination_options' %>
    </div>
  <% end %>
</div>

<%= render 'index_actions' %>
<%= render 'index_fields' %>

<% if is_paginated? && collection.total_pages != 0 %>
  <br />
  <div id="index-pagination">
    <%= render 'index_pagination' %>
  </div>
<% end %>

<%= partial_with_wrapper do %>
  <div class="listing--below-list">
    <%= render partial: "index_below_list" %>
  </div>
<% end %>

<% if sidebar %>
    </div>
    <%= sidebar %>
  </div>
<% end %>
