<% content_for :title, "Product" %>

<p>
  <strong>Category</strong>
  <%= @product.category %>
</p>
<p>
  <strong>Name</strong>
  <%= @product.name %>
</p>
<p>
  <strong>Short Description</strong>
  <%= raw @product.short_description %>
</p>
<p>
  <strong>Description</strong>
  <%= raw @product.description %>
</p>
<p>
  <strong>Publish Date</strong>
  <%= @product.publish_date %>
</p>
<p>
  <strong>Launch Date</strong>
  <%= @product.launch_date %>
</p>
<p>
  <strong>Genre</strong>
  <%= @product.genre.to_sentence %>
</p>
<p>
  <strong>Banner</strong>
  <%= image_tag @product.banner.url %>
</p>
<p>
  <strong>Manual</strong>
  <%= link_to "Manual", @product.manual.url %>
</p>
<p>
  <strong>Size</strong>
  <%= @product.size %>
</p>
<p>
  <strong>Countries</strong>
  <%= @product.countries.to_sentence %>
</p>
<p>
  <strong>Colour</strong>
  <%= @product.colour %>
</p>
<p>
  <strong>Related Products</strong>
  <%= raw @product.products.collect { |p| link_to(p, category_product_path(@category, p)) }.to_sentence %>
</p>
<p>
  <%= link_to "View All", category_products_path(@category) %>
</p>
