<%= form_with model: section, scope: :item, url: path, builder: GOVUKDesignSystemFormBuilder::FormBuilder do |form| %>
  <%= form.hidden_field :container_type %>
  <%= form.hidden_field :container_id %>
  <%= form.hidden_field :type %>

  <%= form.govuk_text_field :heading %>

  <%= form.govuk_check_box_field :show_heading %>

  <%= form.govuk_select :background, Katalyst::Content.config.backgrounds %>

  <%= form.govuk_check_box_field :visible, label: { text: "Visible? "} %>

  <div class="govuk-button-group">
    <%= form.govuk_submit "Done" %>
    <%= link_to "Discard", :back, class:"govuk-link" %>
  </div>
<% end %>
