<%= render layout: "koi/shared/inline_lightbox", locals: { title: "#{resource.new_record? ? "Add" : "Edit"} Setting", no_hide: true } do %>

  <%= simple_form_for resource, authenticity_token: true, remote: true, html: { multipart: true, class: 'form-vertical' } do |f| %>
    <div class="panel--padding">
      <input type="hidden" name="prefix" value="<%= params[:prefix] %>">
      <div class="inputs">
        <%= render "form_fields", { f: f, object: resource } %>
      </div>
    </div>
    <div class="panel--padding panel--padding-border">
      <%= content_tag :button, "Save", type: "submit", name: "commit", value: "Save" , class: "button__confirm" %>
      <%= link_to "Delete", resource, data: { confirm: "Are you sure?" }, method: :delete, remote: true, class: "button__cancel" if current_admin.god? unless resource.new_record? %>
    </div>
  <% end %>

<% end %>
