<header class="titlebar">
  <h2 class="pad-t-1">
    <%= "#{resource.new_record? ? "Add" : "Edit"} Setting" %>

    <!-- ALEX: originally had a close class which clashes with bootstrap -->
    <!-- FIXME: Move the onclick modal close code to javascript file -->
    <a href="#" onclick="$('#modal-for-setting').modal('hide');" class="txt-orange pull-right space-r-2">&times;</a>
  </h2>
</header>

<%= simple_form_for resource, remote: true, html: { multipart: true, class: 'form-vertical' } do |f| %>
  <div class="span9">
    <div class="tabbable space-1">
      <input type="hidden" name="prefix" value="<%= params[:prefix] %>">
      <%= render "form_fields", { f: f } %>
      <%= content_tag :button, "Save", type: "submit", name: "commit", value: "Save" , class: "btn btn-primary" %>
      <%= link_to "Delete", resource, confirm: "Are you sure?", method: :delete, remote: true, class: "btn" if current_admin.god? unless resource.new_record? %>
    </div>
  </div>
<% end %>
