<div class="tabs--pane" id="tab-<%= group.parameterize %>" data-tab-for="tab-<%= group.parameterize %>">
  <div class="settings">
    <div id="index-fields">
      <%= simple_form_for :setting, url: koi_engine.update_multiple_settings_path, html: { multipart: true, method: :put } do |f| %>

        <div class="inputs form--enhanced">
          <%= render "koi/settings/settings_form", f: f, settings: settings %>

          <div class="form-action">
            <input type="hidden" name="group" value="<%= group.parameterize %>" />
            <button class="button__confirm" name="commit" type="submit" value="Save" data-form-cleaner>Save</button>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div id="modal-for-<%= group.parameterize %>" class="modal fade hide-element as-clr">&nbsp;</div>
</div>
