<div class="titlebar">
  <h2 class="heading-two">Change your password</h2>
</div>

<%= simple_form_for(resource, :as => resource_name, :url => koi_engine.admin_password_path, :html => { method: :put, class: "form-vertical" }) do |f| %>

  <div class="bg-lightgrey">
    <%= f.input :reset_password_token, :as => :hidden %>
    <%= f.full_error :reset_password_token %>

    <div class="inputs">
      <%= f.input :password, :label => "New password", required: true, autofocus: true, input_html: { class: "w-510" } %>
      <%= f.input :password_confirmation, :label => "Confirm your new password", required: true, input_html: { class: "w-510" } %>
    </div>
  </div>
  <div class="bg-mediumgrey">
    <%= f.button :submit, "Change my password", class: "button__primary" %>
    <%= link_to "Back", koi_engine.new_admin_session_path, class: "button" %>
  </div>
<% end %>
