<div class="titlebar">
  <h2>Change your password</h2>
</div>

<%= simple_form_for(resource, :as => resource_name, :url => koi_engine.admin_password_path, :html => { method: :put, class: "form-vertical" }) do |f| %>

  <%= f.input :reset_password_token, :as => :hidden %>
  <%= f.full_error :reset_password_token %>

  <div class="bg-lightgrey pad-l-2 pad-t-1 pad-b-1">
    <%= f.input :password, :label => "New password", required: true, autofocus: true, input_html: { class: "w-510" } %>
  </div>
  <div class="bg-lightgrey pad-l-2 pad-t-1 pad-b-1">
    <%= f.input :password_confirmation, :label => "Confirm your new password", required: true, input_html: { class: "w-510" } %>
  </div>
  <div class="bg-mediumgrey pad-l-2 pad-t-1 pad-b-1">
    <%= f.button :submit, "Change my password" %>
    <%= link_to "Back", koi_engine.new_admin_session_path, class: "btn space-l-1" %>
  </div>
<% end %>
