<% content_for :title, "Edit URL rewrite" %>
<% content_for(:breadcrumbs) do %>
  <%= link_to "URL rewrites", url_rewrites_path %> >
  <%= link_to url_rewrite.from.delete_prefix("/"), url_rewrite_path(url_rewrite) %>
<% end %>

<%= form_with(model: url_rewrite, url: url_rewrite_path(url_rewrite)) do |form| %>
  <%= render "form_fields", form: %>

  <div class="govuk-button-group">
    <%= form.admin_save %>
    <%= form.admin_delete text: "Delete" %>
  </div>
<% end %>
